@model Domain.Models.Blog.BlogCategory

@{ ViewData["Title"] = "ویرایش";
                Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml"; }


<div class="content-wrapper" style="min-height: 805px;">

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>ویرایش دسته بندی  </h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-left">
                        <li class="breadcrumb-item"><a href="/Admin">خانه</a></li>
                        <li class="breadcrumb-item active">ویرایش دسته بندی  </li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>    <section class="content">
        <div class="row">
            <div class="col-12">

                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">دسته بندی</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form role="form" asp-action="Edit" asp-area="Admin" asp-controller="BlogCategories" method="post">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="exampleInputEmail1"> دسته بندی جدید </label>
                                <input type="text" asp-for="CategoryTitle" class="form-control" id="exampleInputEmail1" placeholder="دسته بندی خود را وارد کنید ">
                            </div>
                            <input type="hidden" asp-for="BlogCategoryId" />
                            <input type="hidden" asp-for="ParentId" />
                        </div>
                        <!-- /.card-body -->

                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">ارسال</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

</div>
