
.swiper {
  width: 100% !important;
  margin: auto;
  height: 300px !important;
  /* border: 1px solid #000; */
}

@media only screen and (max-width: 500px) {
  .swiper {
    height: 250px !important;
  }
}

/* .swiper .swiper-pagination-bullet{
  background-color: #fff !important;
  border: 1px solid #ccc !important;
} */
.swiper .swiper-pagination-bullet-active {
  width: 8px !important;
  height: 12px !important;
}
/* @media only screen and (max-width: 768px) {
 
  .swiper {
    height: 400px !important;
  }
} */

/* img {
    width: 100%;
    height: 100%;
  } */
