.swiper.swiper3 {
  width: 100% !important;
  margin: auto;
  height: 300px !important;
  /* border: 1px solid #000; */
}

.swiper.swiper3 .swiper-pagination-bullet-active {
  width: 8px !important;
  height: 12px !important;
}

@media only screen and (max-width: 500px) {
  .swiper.swiper3 {
    height: 250px !important;
  }
}
/* @media only screen and (max-width: 768px) {
       
        .swiper {
          height: 400px !important;
        }
      } */

/* img {
          width: 100%;
          height: 100%;
        } */


.shopCardTitle {
    width: auto;
    display: block
}

@media screen and (max-width: 768px) {
    .shopCardTitle {
        width: 283px;
        display: inline-block
    }
}
