@model Domain.ViewModels.SiteSide.SitSideBar.SiteSideBarViewModel
@using Application.StaticTools

<!-- <nav class="h-[96px] md:h-[96px] lg:h-[104px] w-full bg-slate-300"></nav> -->

<nav class="bg-white dark:bg-gray-900 w-full border-b border-gray-200 dark:border-gray-600 px-5 lg:px-0 max-w-[99%] lg:max-w-[86.5em] mx-auto">
    <div class="flex flex-wrap items-center justify-between mx-auto py-4">
        <div class="flex items-center">
           

            <!-- logo -->
            <a href="@PathTools.SiteAddress" class="flex items-center">
                <img src="/ArefSet/src/assets/images/landing/Arefset 1.png"
                     class="lg:w-[94px] md:w-[80px] w-[73px] mr-3"
                     alt="Flowbite Logo" />
            </a>
        </div>

        <!-- sm / md -->

        <div class="flex md:order-2 gap-2">
            <div class="hidden md:hidden lg:w-[250px] lg:h-[44px] border-[1px] border-[#B7B7B7] lg:flex justify-start items-center">
                <img src="/ArefSet/src/assets/images/landing/search-icon.webp"
                     class="w-5 text-[#252525] mx-3"
                     alt="" />
                <input type="search"
                       class="h-full w-full focus:outline-none"
                       placeholder="جستجو کنید ..."
                       name=""
                       id="" />
            </div>
            <a asp-area="" asp-action="ShopCart" asp-controller="Order" class="w-[48px] h-[48px] md:w-[48px] md:h-[48px] lg:w-[44px] lg:h-[44px] border-[1px] border-[#B7B7B7] flex justify-center items-center">
                <img src="/ArefSet/src/assets/images/landing/Shopping bag 1.png" alt="" />
            </a>

            <!-- <div
              class="w-[48px] h-[48px] md:w-[48px] md:h-[48px] lg:w-[44px] lg:h-[44px] border-[1px] border-[#B7B7B7] flex justify-center items-center"

              >
              <img src="/ArefSet/src/assets/images/landing/user - 1 1.png" alt="" />
            </div> -->
            <a asp-action="ManageUserForLogin" asp-area="" asp-controller="Account"
               class=" w-[48px] h-[48px] md:w-[48px] md:h-[48px] lg:w-[44px] lg:h-[44px] border-[1px] border-[#B7B7B7] flex justify-center items-center ">
                <img src="/ArefSet/src/assets/images/landing/user - 1 1.png" alt="" />
            </a>


        </div>

        <!-- lg -->
        <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1"
             id="navbar-sticky">
            <ul class="flex items-center gap-6">
                <li class="">
                    <a href="/">صفحه اصلی</a>
                </li>

                @if (Model.ListOfProductCategoriesForShowInSiteSideBar != null && Model.ListOfProductCategoriesForShowInSiteSideBar.Any())
                {
                    foreach (var categories in Model.ListOfProductCategoriesForShowInSiteSideBar)
                    {
                        <li class="">
                            <a asp-action="ListOfProducts" asp-controller="Products" asp-route-CategoriesId="@categories.CategoryId">@categories.CategoryTitle</a>
                        </li>
                    }
                }

                <li class="">
                    <a href="">تماس با ما</a>
                </li>

            </ul>
        </div>
    </div>
</nav>
