@model List<Domain.Models.Slider.Slider>

<div class="w-full bg-[#eee] h-[730px] relative">
    <div class="swiper mySwiper w-full lg:h-full swiper-fade swiper-initialized swiper-horizontal swiper-rtl swiper-watch-progress swiper-backface-hidden" dir="rtl">
        <div class="swiper-wrapper w-full mb-10 lg:mb-0" id="swiper-wrapper-11071f383886bee67" aria-live="off" style="transition-duration: 0ms;">


            <div class="swiper-slide grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 bg-white bg-no-repeat swiper-slide-next" style="background-image: url(&quot;./assets/images/landing/Rectangle 9224.png&quot;); background-size: cover; width: 2326px; opacity: 1; transform: translate3d(0px, 0px, 0px); transition-duration: 0ms;" role="group" aria-label="4 / 5" data-swiper-slide-index="3">
                <div class="col-span-2 md:col-span-1 lg:col-span-1 mt-9 lg:mt-0 lg:h-full px-6 lg:px-16 text lg:flex lg:flex-col lg:justify-center lg:items-start">
                    <p class="text-[#7E8285] text-[20px] font-semibold leading-8 lg:text-[32px] text-right lg:font-semibold lg:leading-[49.6px]" style="font-family: yekanBakhtSemiBold">
                        فرصت استثنایی
                    </p>
                    <h1 class="text-[#D92626] font-black text-right text-[40px] leading-16 lg:text-[78px] lg:leading-[120.9px] tracking-spaceTwo" style="font-family: yekanBakhtBlack">
                        فروش تابستانی
                    </h1>
                    <p class="text-[#252525] text-[30px] font-semibold leading-[46.5px] lg:text-[49px] text-right lg:font-semibold lg:leading-[75.95px]" style="font-family: yekanBakhtSemiBold">
                        تا 50 درصد تخفیف ویژه
                    </p>

                    <a href="#" class="my-3 mt-6 hover:bg-[#252525] border-[1px] border-[#7E8285] hover:border-[#252525] transition-all duration-300 transform ease-linear focus:outline-none bg-transparent px-7 py-3 inline-flex items-center text-[#7E8285] hover:text-[#fff]">
                        رفتن به فروشگاه
                        <img class="ms-2" src="./assets/images/landing/arrow-left.png" alt="">
                    </a>
                </div>
                <div class="col-span-2 md:col-span-1 lg:col-span-1 h-[500px] lg:h-full text bg-no-repeat bg-bottom lg:bg-right-bottom bg-100% lg:bg-auto" style="
                  background-image: url(./assets/images/landing/Group\ 44920.png);
                "></div>
            </div>
            <div class="swiper-slide grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 bg-white bg-no-repeat" style="background-image: url(&quot;./assets/images/landing/Rectangle 9224.png&quot;); background-size: cover; width: 2326px; opacity: 1; transform: translate3d(2326px, 0px, 0px); transition-duration: 0ms;" role="group" aria-label="5 / 5" data-swiper-slide-index="4">
                <div class="col-span-2 md:col-span-1 lg:col-span-1 mt-9 lg:mt-0 lg:h-full px-6 lg:px-16 text lg:flex lg:flex-col lg:justify-center lg:items-start">
                    <p class="text-[#7E8285] text-[20px] font-semibold leading-8 lg:text-[32px] text-right lg:font-semibold lg:leading-[49.6px]" style="font-family: yekanBakhtSemiBold">
                        فرصت استثنایی
                    </p>
                    <h1 class="text-[#D92626] font-black text-right text-[40px] leading-16 lg:text-[78px] lg:leading-[120.9px] tracking-spaceTwo" style="font-family: yekanBakhtBlack">
                        فروش تابستانی
                    </h1>
                    <p class="text-[#252525] text-[30px] font-semibold leading-[46.5px] lg:text-[49px] text-right lg:font-semibold lg:leading-[75.95px]" style="font-family: yekanBakhtSemiBold">
                        تا 50 درصد تخفیف ویژه
                    </p>

                    <a href="#" class="my-3 mt-6 hover:bg-[#252525] border-[1px] border-[#7E8285] hover:border-[#252525] transition-all duration-300 transform ease-linear focus:outline-none bg-transparent px-7 py-3 inline-flex items-center text-[#7E8285] hover:text-[#fff]">
                        رفتن به فروشگاه
                        <img class="ms-2" src="./assets/images/landing/arrow-left.png" alt="">
                    </a>
                </div>
                <div class="col-span-2 md:col-span-1 lg:col-span-1 h-[500px] lg:h-full text bg-no-repeat bg-bottom lg:bg-right-bottom bg-100% lg:bg-auto" style="
                  background-image: url(./assets/images/landing/Group\ 44920.png);
                "></div>
            </div>
            <div class="swiper-slide h-full grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 bg-white bg-no-repeat" style="background-image: url(&quot;./assets/images/landing/Rectangle 9224.png&quot;); background-size: cover; width: 2326px; opacity: 1; transform: translate3d(4651px, 0px, 0px); transition-duration: 0ms;" role="group" aria-label="1 / 5" data-swiper-slide-index="0">
                <div class="col-span-2 md:col-span-1 lg:col-span-1 mt-9 lg:mt-0 lg:h-full px-6 lg:px-16 text lg:flex lg:flex-col lg:justify-center lg:items-start">
                    <p class="text-[#7E8285] text-[20px] font-semibold leading-8 lg:text-[32px] text-right lg:font-semibold lg:leading-[49.6px]" style="font-family: yekanBakhtSemiBold">
                        فرصت استثنایی
                    </p>
                    <h1 class="text-[#D92626] font-black text-right text-[40px] leading-16 lg:text-[78px] lg:leading-[120.9px] tracking-spaceTwo" style="font-family: yekanBakhtBlack">
                        فروش تابستانی
                    </h1>
                    <p class="text-[#252525] text-[30px] font-semibold leading-[46.5px] lg:text-[49px] text-right lg:font-semibold lg:leading-[75.95px]" style="font-family: yekanBakhtSemiBold">
                        تا 50 درصد تخفیف ویژه
                    </p>

                    <a href="#" class="my-3 mt-6 hover:bg-[#252525] border-[1px] border-[#7E8285] hover:border-[#252525] transition-all duration-300 transform ease-linear focus:outline-none bg-transparent px-7 py-3 inline-flex items-center text-[#7E8285] hover:text-[#fff]">
                        رفتن به فروشگاه
                        <img class="ms-2" src="./assets/images/landing/arrow-left.png" alt="">
                    </a>
                </div>
                <div class="col-span-2 md:col-span-1 lg:col-span-1 lg:h-full text bg-no-repeat bg-bottom lg:bg-right-bottom bg-100% lg:bg-auto" style="
                  background-image: url(./assets/images/landing/Group\ 44920.png);
                "></div>
            </div>
            <div class="swiper-slide grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 bg-white bg-no-repeat swiper-slide-prev" style="background-image: url(&quot;./assets/images/landing/Rectangle 9224.png&quot;); background-size: cover; width: 2326px; opacity: 1; transform: translate3d(6977px, 0px, 0px); transition-duration: 0ms;" role="group" aria-label="2 / 5" data-swiper-slide-index="1">
                <div class="col-span-2 md:col-span-1 lg:col-span-1 mt-9 lg:mt-0 lg:h-full px-6 lg:px-16 text lg:flex lg:flex-col lg:justify-center lg:items-start">
                    <p class="text-[#7E8285] text-[20px] font-semibold leading-8 lg:text-[32px] text-right lg:font-semibold lg:leading-[49.6px]" style="font-family: yekanBakhtSemiBold">
                        فرصت استثنایی
                    </p>
                    <h1 class="text-[#D92626] font-black text-right text-[40px] leading-16 lg:text-[78px] lg:leading-[120.9px] tracking-spaceTwo" style="font-family: yekanBakhtBlack">
                        فروش تابستانی
                    </h1>
                    <p class="text-[#252525] text-[30px] font-semibold leading-[46.5px] lg:text-[49px] text-right lg:font-semibold lg:leading-[75.95px]" style="font-family: yekanBakhtSemiBold">
                        تا 50 درصد تخفیف ویژه
                    </p>

                    <a href="#" class="my-3 mt-6 hover:bg-[#252525] border-[1px] border-[#7E8285] hover:border-[#252525] transition-all duration-300 transform ease-linear focus:outline-none bg-transparent px-7 py-3 inline-flex items-center text-[#7E8285] hover:text-[#fff]">
                        رفتن به فروشگاه
                        <img class="ms-2" src="./assets/images/landing/arrow-left.png" alt="">
                    </a>
                </div>
                <div class="col-span-2 md:col-span-1 lg:col-span-1 h-[500px] lg:h-full text bg-no-repeat bg-bottom lg:bg-right-bottom bg-100% lg:bg-auto" style="
                  background-image: url(./assets/images/landing/Group\ 44920.png);
                "></div>
            </div>
            <div class="swiper-slide grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 bg-white bg-no-repeat swiper-slide-visible swiper-slide-active" style="background-image: url(&quot;./assets/images/landing/Rectangle 9224.png&quot;); background-size: cover; width: 2326px; opacity: 1; transform: translate3d(9302px, 0px, 0px); transition-duration: 0ms;" role="group" aria-label="3 / 5" data-swiper-slide-index="2">
                <div class="col-span-2 md:col-span-1 lg:col-span-1 mt-9 lg:mt-0 lg:h-full px-6 lg:px-16 text lg:flex lg:flex-col lg:justify-center lg:items-start">
                    <p class="text-[#7E8285] text-[20px] font-semibold leading-8 lg:text-[32px] text-right lg:font-semibold lg:leading-[49.6px]" style="font-family: yekanBakhtSemiBold">
                        فرصت استثنایی
                    </p>
                    <h1 class="text-[#D92626] font-black text-right text-[40px] leading-16 lg:text-[78px] lg:leading-[120.9px] tracking-spaceTwo" style="font-family: yekanBakhtBlack">
                        فروش تابستانی
                    </h1>
                    <p class="text-[#252525] text-[30px] font-semibold leading-[46.5px] lg:text-[49px] text-right lg:font-semibold lg:leading-[75.95px]" style="font-family: yekanBakhtSemiBold">
                        تا 50 درصد تخفیف ویژه
                    </p>

                    <a href="#" class="my-3 mt-6 hover:bg-[#252525] border-[1px] border-[#7E8285] hover:border-[#252525] transition-all duration-300 transform ease-linear focus:outline-none bg-transparent px-7 py-3 inline-flex items-center text-[#7E8285] hover:text-[#fff]">
                        رفتن به فروشگاه
                        <img class="ms-2" src="./assets/images/landing/arrow-left.png" alt="">
                    </a>
                </div>
                <div class="col-span-2 md:col-span-1 lg:col-span-1 h-[500px] lg:h-full text bg-no-repeat bg-bottom lg:bg-right-bottom bg-100% lg:bg-auto" style="
                  background-image: url(./assets/images/landing/Group\ 44920.png);
                "></div>
            </div>
        </div>
        <!-- <div class="swiper-button-next"></div>
              <div class="swiper-button-prev"></div> -->
        <div class="swiper-pagination !left-[50%] !-bottom-[1%] !-translate-y-[50%] !-translate-x-[50%] lg:!left-[3%] lg:!inline-block !transform lg:!-rotate-90 lg:!bottom-[10%] ml-4 swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal"><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 1"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 2"></span><span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button" aria-label="Go to slide 3" aria-current="true"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 4"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 5"></span></div>
        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
    </div>
</div>