@{
    ViewData["Title"] = "آدرس و نشانی ";
}


<div class="mx-auto my-5">
    <section class="mx-auto px-5 lg:px-0 max-w-[99%] lg:max-w-[86.5em]">
        <div class="border-2 border-[#B7B7B7] w-full min-h-[146px] py-6 lg:py-0 lg:h-[257px] flex flex-col items-center justify-center">
            <div class="flex items-center justify-center gap-3">
                <div class="w-[94px]">
                    <img class="w-full" src="/ArefSet/src/assets/images/landing/Arefset 1.png" alt="">
                </div>
                <div>
                    <p class="text-[16px] text-[#252525]" style="font-family: yekanBakhtExtraBold">
                        صفحه پرداخت عارف
                    </p>
                    <p class="text-[14px] text-[#252525]">Aref payment page</p>
                </div>
            </div>

            <div class="w-[90%] lg:w-[513px] border-b-2 my-8"></div>

            <div class="h-[26.41px] lg:h-[61px] flex justify-between items-center">
                <div class="h-full pl-5 flex items-center justify-center gap-2 lg:gap-3">
                    <div class="w-[21.75px] lg:w-[42px] relative after:content-[''] after:absolute after:right-0 after:-bottom-3 after:w-[53px] after:h-[2px] after:bg-[#D92626]">
                        <img class="w-full" src="/ArefSet/src/assets/images/landing/address.png" alt="">
                    </div>
                    <div>
                        <p class="text-[8px] lg:text-[14px] text-[#252525]" style="font-family: yekanBakhtSemiBold">
                            ادرس ارسال سفارش
                        </p>
                        <p class="text-[6px] lg:text-[12px] text-[#B7B7B7]">
                            Aref payment page
                        </p>
                    </div>
                </div>
                <div class="h-full border-l-2 border-r-2 px-5 flex items-center justify-start gap-2 lg:gap-3">
                    <div class="w-[21.75px] lg:w-[42px]">
                        <img class="w-full opacity-70" src="/ArefSet/src/assets/images/landing/truck-tick.png" alt="">
                    </div>
                    <div>
                        <p class="text-[8px] lg:text-[14px] text-[#777]" style="font-family: yekanBakhtSemiBold">
                            نوع ارسال
                        </p>
                        <p class="text-[6px] lg:text-[12px] text-[#B7B7B7]">
                            Post Type
                        </p>
                    </div>
                </div>
                <div class="h-full flex items-center pr-5 justify-center gap-2 lg:gap-3">
                    <div class="w-[21.75px] lg:w-[42px]">
                        <img class="w-full opacity-70" src="/ArefSet/src/assets/images/landing/receipt-text.png" alt="">
                    </div>
                    <div>
                        <p class="text-[8px] lg:text-[14px] text-[#777]" style="font-family: yekanBakhtSemiBold">
                            ادرس ارسال سفارش
                        </p>
                        <p class="text-[6px] lg:text-[12px] text-[#B7B7B7]">
                            Aref payment page
                        </p>
                    </div>
                </div>
                <!-- <div class=" h-full border-l-2 ">1</div>
                    <div class=" h-full ">3</div>
                    <div class=" h-full border-l-2 ">2</div> -->
            </div>
        </div>
    </section>

    <section class="mx-auto mt-0 lg:px-0 max-w-[100%] lg:max-w-[86.5em] mb-7">
        <div class="w-full relative mt-6 min-h-screen flex flex-col items-start justify-start md:flex md:flex-col md:items-start md:justify-start lg:flex lg:flex-row lg:items-start lg:justify-between">
            <div class="mx-auto w-full lg:w-[75vw] mb-4 px-5 lg:px-0">
                <!-- ------------- form -------------- -->
                <div class="mx-auto w-full">
                    <form class="mt-4" asp-action="AddTheUserLocations" asp-controller="order" id="frmCalculateShipping" method="post">
                        <input type="hidden" name="orderid" value="@ViewBag.orderid">

                        <!-- <div class="-mx-3 flex flex-wrap"> -->
                        <div class="-mx-3 grid grid-cols-2 md:grid-cols-2 lg:grid-cols-2">
                            <div class="w-full px-3">
                                <div class="mb-5">
                                    <label for="Username" class="text-[12px] mb-3 block text-base font-medium text-[#07074D]">
                                        نام (اجباری):
                                    </label>
                                    <input type="text" name="Username" id="fName" placeholder="نام نام خانوادگی" class="w-full border border-[#B7B7B7] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md">
                                </div>
                            </div>

                            <div class="w-full px-3">
                                <div class="mb-5">
                                    <label for="lName" class="text-[12px] mb-3 block text-base font-medium text-[#07074D]">
                                        ایمیل :
                                    </label>
                                    <input type="text" name="Email" id="lName" placeholder="ایمیل خود را وارد کنید" class="w-full border border-[#B7B7B7] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md">
                                </div>
                            </div>

                            <div class="w-full px-3 my-3">
                                <div class="mb-5">
                                    <label for="StateName" class="text-[12px] mb-3 block text-base font-medium text-[#07074D]">
                                        استان (اجباری):
                                    </label>
                                    <input type="text" name="StateName" id="state" placeholder=" استان" class="w-full border border-[#B7B7B7] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md">
                                </div>
                            </div>

                            <div class="w-full px-3 my-3">
                                <div class="mb-5">
                                    <label for="CityName" class="text-[12px] mb-3 block text-base font-medium text-[#07074D]">
                                        شهرستان (اجباری):
                                    </label>
                                    <input type="text" name="CityName" id="city" placeholder=" شهرستان" class="w-full border border-[#B7B7B7] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md">
                                </div>
                            </div>

                            <div class="w-full px-3">
                                <div class="mb-5">
                                    <label for="PostalCode" class="text-[12px] mb-3 block text-base font-medium text-[#07074D]">
                                        کدپستی (اجباری):
                                    </label>
                                    <input type="text" name="PostalCode" id="postCode" placeholder=" کدپستی" class="w-full border border-[#B7B7B7] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md">
                                </div>
                            </div>

                            <div class="w-full px-3">
                                <div class="mb-5">
                                    <label for="Mobile" class="text-[12px] mb-3 block text-base font-medium text-[#07074D]">
                                        شماره مبایل (اجباری):
                                    </label>
                                    <input type="text" name="Mobile" id="phoneNumber" placeholder="شماره مبایل خود را وارد کنید " class="w-full border border-[#B7B7B7] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md">
                                </div>
                            </div>
                        </div>
                        <div class="mb-5 mt-3">
                            <label for="address" class="text-[12px] mb-3 block text-base font-medium text-[#07074D]">
                                ادرس (اجباری):
                            </label>
                            <textarea name="LocationAddress" id="address" rows="3" class="w-full appearance-none border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" placeholder="متن پیام شما"></textarea>
                        </div>

                        <div class="flex justify-end">
                            <!-- <button
                                class="hover:shadow-form border-[1px] border-[#252525] py-3 px-8 text-center text-base font-semibold text-[#252525] outline-none flex items-center gap-2"
                              >
                              تایید ادرس جدید

                              </button> -->
                            <button class="my-3 text-[13px] mt-6 hover:bg-[#252525] border-[1px] border-[#7E8285] hover:border-[#252525] transition-all duration-300 transform ease-linear focus:outline-none bg-transparent px-7 py-3 flex items-center text-[#7E8285] hover:text-[#fff]">
                                تایید ادرس جدید
                            </button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="w-full lg:w-[25vw] flex flex-col-reverse justify-start items-end lg:flex lg:flex-col lg:justify-start lg:items-end lg:sticky lg:top-0 lg:gap-2">


                @if (ViewBag.UserLocations != null)
                {
                    List<Domain.Models.Users.Locations> Locations = ViewBag.UserLocations as List<Domain.Models.Users.Locations>;

                    foreach (var item in Locations)
                    {

                        <div class="w-full lg:w-[305px] lg:bg-[#F6F6F6] bg-[#FCFCFC] lg:p-4 p-5 flex flex-col justify-between">
                           
                            <div class="lg:border-[#E7E7E7] lg:border-t-[1px] lg:border-b-[1px] my-4 mt-2 py-3 flex justify-between items-center">
                                <p class="text-[12px] text-[#252525]" style="font-family: yekanBakhtSemiBold">
                                    موبایل :
                                </p>
                                <p class="text-[12px] text-[#7E8285]" style="font-family: yekanBakhtSemiBold">
                                    @item.Mobile
                                </p>
                            </div>

                            <div class="lg:border-[#E7E7E7] lg:border-t-[1px] lg:border-b-[1px] my-4 mt-2 py-3 flex justify-between items-center">
                                <p class="text-[12px] text-[#252525]" style="font-family: yekanBakhtSemiBold">
                                    کدپستی :
                                </p>
                                <p class="text-[12px] text-[#7E8285]" style="font-family: yekanBakhtSemiBold">
                                    @item.PostalCode
                                </p>
                            </div>
                            <div class="lg:border-[#E7E7E7] lg:border-t-[1px] lg:border-b-[1px] my-4 mt-2 py-3 flex justify-between items-center">
                                <p class="text-[12px] text-[#252525]" style="font-family: yekanBakhtSemiBold">
                                    شهر :
                                </p>
                                <p class="text-[12px] text-[#7E8285]" style="font-family: yekanBakhtSemiBold">
                                    @item.CityName
                                </p>
                            </div>

                            <a href="/order/AcceptFactor?oredrid=@ViewBag.orderid&&Locationid=@item.LocationID" class="w-full bg-[#252525] text-[#fff] hidden lg:flex lg:items-center lg:justify-center gap-2 py-3 text-[13px]">
                                انتخاب آدرس
                                <img src="/ArefSet/src/assets/images/landing/arrow-left.png" alt="">
                            </a>
                        </div>


                    }
                }


            </div>
        </div>
    </section>
</div>
