@model Application.ViewModels.EditUserViewModel
@using Domain.Models.Users
@{ ViewData["Title"] = "نمایش اطلاعات   ";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";

    Domain.Models.Users.Locations locations = ViewBag.Location as Domain.Models.Users.Locations;

    }

<div class="content-wrapper" style="min-height: 805px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1> نمایش اطلاعات کاربری </h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-left">
                        <li class="breadcrumb-item"><a href="/Admin">خانه</a></li>
                        <li class="breadcrumb-item active"> برسی اطلاعات کاربری    </li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <form asp-action="Edit" asp-controller="Users" asp-area="Admin" method="post" enctype="multipart/form-data">

        <input type="hidden" asp-for="UserId" />
        <input type="hidden" asp-for="AvatarName" />

        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <!-- left column -->
                    <div class="col-md-7">
                        <!-- general form elements -->
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">اطلاعات کاربری  </h3>
                            </div>
                            <!-- /.card-header -->
                            <!-- form start -->
                            <div role="form" asp-action="Create" asp-controller="Users" asp-area="Admin">
                                <div class="card-body">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1"> نام کاربری </label>
                                        <input type="text" asp-for="UserName" readonly class="form-control" id="exampleInputEmail1" placeholder="نام کاربری  را وارد کنید">
                                        <span asp-validation-for="UserName" class="text-danger"></span>

                                    </div>

                                    <div class="form-group">
                                        <label for="exampleInputEmail1"> شماره تلفن   </label>
                                        <input type="text" asp-for="PhoneNumber" readonly class="form-control" id="exampleInputEmail1" placeholder="شماره تلفن  را وارد کنید">
                                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>

                                    </div>

                                    <div class="form-group">
                                        <label for="exampleInputEmail1">آدرس ایمیل</label>
                                        <input type="email" asp-for="Email" readonly class="form-control" id="exampleInputEmail1" placeholder="ایمیل را وارد کنید">
                                        <span asp-validation-for="Email" class="text-danger"></span>

                                    </div>
                                
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">کدپستی </label>
                                        <input type="text" value="@locations.PostalCode"  readonly class="form-control" id="exampleInputPassword1" >

                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">آدرس </label>
                                        <textarea type="password"  readonly class="form-control" id="exampleInputPassword1">@locations.LocationAddress</textarea>

                                    </div>
                                </div>
                                <!-- /.card-body -->

                                <div class="card-footer">
                                    <a asp-action="Index" asp-controller="OrderTracking" asp-area="Admin" class="btn btn-primary">بازگشت به عقب </a>
                                </div>
                            </div>
                        </div>


                    </div>
                    <!--/.col (left) -->
                    <!-- right column -->
                    <div class="col-md-5">
                        <!-- Horizontal Form -->
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">  تصویر  </h3>
                            </div>
                            <!-- /.card-header -->
                            <!-- form start -->
                            <div class="form-horizontal">
                                <div class="card-body row">
                                    <img style="margin:auto; width:342px" id="imgAvatar" class="img-responsive rounded" src="/Images/UserAvatar/@Model.AvatarName" alt="upload_img">
                                </div>
                             
                                <!-- /.card-body -->
                                <!-- /.card-footer -->
                            </div>
                        </div>
                        <!-- /.card -->
                        <!-- general form elements disabled -->
                        <!-- /.card -->


                    </div>

                    <!--/.col (right) -->
                </div>
                <!-- /.row -->
            </div><!-- /.container-fluid -->
        </section>
    </form>


</div>