
@{
    ViewData["Title"] = "پنل ادمین ";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-wrapper" style="min-height: 862px;">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">داشبورد ادمین </h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-left">
                        <li class="breadcrumb-item"><a href="#">خانه</a></li>
                        <li class="breadcrumb-item active">داشبورد  </li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    @if (ViewBag.permission == true)
    {
        <div class="col-md-12">
            <div class="card bg-danger-gradient">
                <div class="card-header">
                    <h3 class="card-title">عدم دسترسی </h3>

                    <div class="card-tools">
                        <button type="button" id="DeleteBtn" class="btn btn-tool" data-widget="remove">
                            <i class="fa fa-times"></i>
                        </button>
                    </div>
                    <!-- /.card-tools -->
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    شما دسترسی ورود به بخش مورد نظر را ندارید 
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <script>
            // Your delay in milliseconds
            var delay = 5000;
            setTimeout(function () { document.getElementById("DeleteBtn").click(); }, delay);
        </script>
    }



    <div class="row">
        <!-- Left col -->
        <!-- /.col -->

        @await Component.InvokeAsync("LastestProductsInAdminPanelComponent")
        @await Component.InvokeAsync("LastestBlogsInAdminPanelComponent")
        @await Component.InvokeAsync("LastestVideosInAdminPanelComponent")
        @await Component.InvokeAsync("LastestUserForAdminPageComponent")

        <!-- /.col -->
    </div>
    <!-- /.content -->
</div>
