

<div class="widget mt-4">
    <ul class="list-unstyled sidebar-nav mb-0" id="navmenu-nav">
        <li class="navbar-item account-menu px-0">
            <a href="/User/Home/Index" class="navbar-link d-flex rounded shadow align-items-center py-2 px-4">
                <span class="h4 mb-0"><i class="uil uil-dashboard"></i></span>
                <h6 class="mb-0 ms-2">پروفایل </h6>
            </a>
        </li>

        <li class="navbar-item account-menu px-0 mt-2">
            <a href="/User/Account/EditUser" class="navbar-link d-flex rounded shadow align-items-center py-2 px-4">
                <span class="h4 mb-0"><i class="uil uil-users-alt"></i></span>
                <h6 class="mb-0 ms-2">ویرایش اطلاعات  </h6>
            </a>
        </li>

        <li class="navbar-item account-menu px-0 mt-2">
            <a href="/User/Account/ChangePassword" class="navbar-link d-flex rounded shadow align-items-center py-2 px-4">
                <span class="h4 mb-0"><i class="uil uil-file"></i></span>
                <h6 class="mb-0 ms-2"> تغییر رمز عبور  </h6>
            </a>
        </li>

        <li class="navbar-item account-menu px-0 mt-2">
            <a asp-action="ListOFFavoriteProducts" asp-area="User" asp-controller="FavoriteProduct" class="navbar-link d-flex rounded shadow align-items-center py-2 px-4">
                <span class="h4 mb-0"><i class="uil uil-location-arrow"></i></span>
                <h6 class="mb-0 ms-2"> لیست علاقه مندی ها   </h6>
            </a>
        </li>

        <li class="navbar-item account-menu px-0 mt-2">
            <a href="/User/Location/Locations" class="navbar-link d-flex rounded shadow align-items-center py-2 px-4">
                <span class="h4 mb-0"><i class="uil uil-location-arrow"></i></span>
                <h6 class="mb-0 ms-2"> آدرس و نشانی ها  </h6>
            </a>
        </li>

        <li class="navbar-item account-menu px-0 mt-2">
            <a href="/User/Order/Index" class="navbar-link d-flex rounded shadow align-items-center py-2 px-4">
                <span class="h4 mb-0"><i class="uil uil-transaction"></i></span>
                <h6 class="mb-0 ms-2"> پیگیری سفارشات  </h6>
            </a>
        </li>

        <li class="navbar-item account-menu px-0 mt-2">
            <a href="/User/Order/ListOfReturnedProducts" class="navbar-link d-flex rounded shadow align-items-center py-2 px-4">
                <span class="h4 mb-0"><i class="uil uil-location-arrow"></i></span>
                <h6 class="mb-0 ms-2"> کالاهای مرجوعی   </h6>
            </a>
        </li>

        <li class="navbar-item account-menu px-0 mt-2">
            <a href="/Logout" class="navbar-link d-flex rounded shadow align-items-center py-2 px-4">
                <span class="h4 mb-0"><i class="uil uil-dashboard"></i></span>
                <h6 class="mb-0 ms-2">خروج </h6>
            </a>
        </li>
    </ul>
</div>
