@using Application.Convertors;
@using Application.StaticTools;
@model List<Domain.Models.Comment.Comment>
@{
    ViewData["Title"] = "ریز فاکتور ";
}

@section Scripts{

    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js"></script>



    <script type="text/javascript">
        $(document).ready(function ($) {

            $(document).on('click', '.btn_print', function (event) {
                event.preventDefault();

                console.log("hello");

                //credit : https://ekoopmans.github.io/html2pdf.js

                var element = document.getElementById('container_content');

                //easy
                html2pdf().from(element).save();

            });
        });
    </script>

}


<main class="mx-auto mt-7  mb-7">
    <section class="mx-auto max-w-full grid grid-cols-1 lg:max-w-[86.5em] relative lg:flex lg:items-start gap-5">

        <!-- Side Bar -->
        @await Component.InvokeAsync("UserPanelSideBarViewComponents")

        <div class="w-full lg:flex min-h-[765px] mainContet ">
            <!-- ----- MyComments ----- -->
            <section id="MyComments" class="tabcontent w-full flex flex-col items-center justify-start">
@*                <div class="return p-5 pt-0 w-full flex justify-start lg:hidden">
                    <a href="#" class="flex items-center justify-start gap-1">
                        <img class="transform rotate-180" src="../assets/images/landing/arrow-left.png" alt="">
                        <div class="text-right">
                            <p class="text-[14px] text-[#252525]" style="font-family: yekanBakhtBold">
                                لیست دیدگاه های شما
                            </p>
                            <p class="text-[12px] text-[#252525]" style="font-family: yekanBakhtRegular">
                                My comments list
                            </p>
                        </div>
                    </a>
                </div>
*@
                <div class="border-2 border-[#252525] w-full  p-5 flex flex-col items-start justify-start gap-5">
                    <div class="w-full flex justify-between items-center">
                        <div>
                            <p class="text-[14px]" style="font-family: yekanBakhtExtraBold">
                                دیدگاه های شما
                            </p>
                            <p class="text-[12px] text-[#828282]">My orders</p>
                        </div>
						<p class="text-[14px] text-[#828282]">1 دیدگاه </p>												   
                    </div>

                    <div class="w-full flex items-start justify-start lg:flex lg:items-center lg:justify-start gap-5 mb-3 lg:mb-5">
                        <div 
                             class="tabCommentLinks hover:cursor-pointer text-right">
                            <p class="text-[16px] text-[#252525] leading-[24.8px]"
                               style="font-family: yekanBakhtRegular">
                                ۲۰ دیدگاه
                            </p>
                            <p class="text-[12px] lg:text-[14px] text-[#252525]"
                               style="font-family: yekanBakhtBold">
                                ثبت شده
                            </p>
                        </div>
 
                    </div>

                    <div id="waiting"
                         class="tabComment w-full flex flex-col items-start justify-center gap-5">
                          @if (Model != null && Model.Any())
                        {
                            foreach (var comment in Model)
                            {
                                <!-- card -->
                                <div class="w-full border-2 border-[#B7B7B7] p-5 mb-3">
                                    <div class="flex flex-col items-start justify-center lg:flex lg:items-center lg:flex-row lg:justify-between gap-2 lg:gap-3">
                                        <div class="h-full flex items-center justify-center gap-2 lg:gap-3">
                                            <div class="w-[51px] lg:w-[73px] hidden lg:inline-block">
                                                <img class="w-full"
                                                     src="/Images/UserAvatar/@comment.Users.UserAvatar"
                                                     alt="" />
                                            </div>
                                            <div>

                                                <p class="text-[10px] text-[#252525] leading-[24px]  " style="font-family: yekanBakhtBold">
                                                        @comment.Users.UserName
                                                    </p>
                                               
                                                <p class="text-[11px] lg:text-[16px] text-[#252525] leading-[24.8px]"
                                                   style="font-family: yekanBakhtBold">
                                                    گل مصنوعی مدل ریسه برگ طرح انگور کد PAL-3030
                                                </p>
                                                <p class="text-[12px] lg:text-[14px] text-[#252525] flex items-center"
                                                   style="font-family: yekanBakhtRegular">
                                                    <img class="w-[14px] ml-2"
                                                         src="/ArefSet/src/assets/images/landing/star@2x.png"
                                                         alt="" />
                                                    <strong> ۴/۶ </strong>
                                                </p>
                                            </div>
                                        </div>

                                        <div class="w-full lg:w-auto flex items-center justify-end lg:flex lg:items-center lg:justify-between gap-3">
                                            <div class="w-[99px] lg:w-[140px] h-[34px] bg-[#EDEDED] flex items-center justify-center">
                                                <span class="text-[9px] lg:text-[12px] leading-[33px]">
                                                    وضعیت : تایید شده
                                                </span>
                                            </div>

                                            <a href="#"
                                               class="text-[9px] lg:text-[12px] hover:bg-[#252525] border-[1px] border-[#7E8285] hover:border-[#252525] transition-all duration-300 transform ease-linear focus:outline-none bg-transparent w-[99px] lg:w-[94px] h-[34px] flex items-center justify-center text-[#7E8285] hover:text-[#fff]">
                                                حذف دیدگاه
                                            </a>
                                        </div>
                                    </div>

                                    <div class="flex items-start justify-between gap-2 lg:gap-3 mt-5">
                                        <div class="w-full">
                                            <div class="flex gap-2">
                                                <div class="flex flex-col justify-start items-center gap-1 lg:w-8 w-6">
                                                    <div class="w-[1px] h-[19px] bg-[#D9D9D9]"></div>
                                                    <img class="w-[5px] h-[5px] my-[.5px]"
                                                         src="/ArefSet/src/assets/images/landing/Ellipse 506.png"
                                                         alt="" />
                                                    <div class="w-[1px] h-[19px] bg-[#D9D9D9]"></div>
                                                    <img class="w-[5px] h-[5px] my-[.5px]"
                                                         src="/ArefSet/src/assets/images/landing/Ellipse 506.png"
                                                         alt="" />
                                                    <!-- <div class="w-[1px] h-[19px] bg-[#D9D9D9]"></div> -->
                                                </div>

                                                <div class="inline-block pt-3">
                                                    <p class="text-[12px] text-[#252525] leading-[24px] mb-2"
                                                       style="font-family: yekanBakhtBold">
                                                        از نظر من ارزش خرید داره
                                                    </p>
                                                    <p class="text-[10px] text-[#252525] leading-[24px] mb-2">
                                                        @comment.CommentBody
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- --- -->
                            }
                        }
                        
                    </div>


                    @*<div id="waiting" class="tabComment w-full flex flex-col items-start justify-center gap-5" style="display: block;">

                        @if (Model != null && Model.Any())
                        {
                            foreach (var comment in Model)
                            {
                              
                                <div class="w-full border-2 border-[#B7B7B7] p-5 mb-3">
                                    <div class="flex flex-col items-start justify-center lg:flex lg:items-center lg:flex-row lg:justify-between gap-2 lg:gap-3">
                                        <div class="h-full flex items-center justify-center gap-2 lg:gap-3">
                                            <div class="w-[51px] lg:w-[73px]">
                                                <img class="w-full" src="/Images/UserAvatar/@comment.Users.UserAvatar" alt="">
                                            </div>
                                            <div>
                                                <p class="text-[14px] lg:text-[16px] text-[#252525] leading-[24.8px]" style="font-family: yekanBakhtBold">
                                                    @comment.Users.UserName
                                                </p>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="flex items-start justify-between gap-2 lg:gap-3 mt-5">
                                        <div class="">
                                            <div class="flex gap-2">

                                                <div class="inline-block pt-3">
                                                    <p class="text-[10px] text-[#252525] leading-[24px] mb-2">
                                                        @comment.CommentBody
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }

                    </div>*@
                </div>
            </section>
        </div>

    </section>
</main>
