<footer class="mx-auto bg-[#252525] w-full h-auto px-7 lg:px-0 footer">
    <div class="border-b-[1px] border-[#7E8285] max-w-[99%]  lg:max-w-[86.5em] mx-auto p-1 pb-10 grid grid-cols-2 md:grid-cols-2 lg:grid-cols-4 gap-4 lg:px-10">

        <div class="text-center flex flex-col justify-start my-5 items-center p-3 min-h-[147px]">
            <img class=" h-[42px]"
                 src="/ArefSet/src/assets/images/landing/Group 21.png"
                 alt="quality guarantee" title=" تضمین کیفیت" />
            <h6 class="text-[17px] lg:text-[24px] text-[#FCFCFC] py-4"
                style="font-family: yekanBakhtBold">
                تضمین کیفیت
            </h6>
            <p class="text-[12px] lg:text-[16px] text-[#EDEDED] font-semibold"
               style="font-family: yekanBakhtRegular">
                کیفیت بالا پارچه و استفاده از الیاف طبیعی نخ و پنبه
            </p>
        </div>

        <div class="text-center flex flex-col justify-start my-5 items-center p-3 min-h-[147px]">
            <img class="w-[42px] h-[42px]"
                 src="/ArefSet/src/assets/images/landing/scissor.png"
                 alt="scissor" title="  طراحی خاص" />
            <h6 class="text-[17px] lg:text-[24px] text-[#FCFCFC] py-4"
                style="font-family: yekanBakhtBold">
                طراحی خاص
            </h6>
            <p class="text-[12px] lg:text-[16px] text-[#EDEDED] font-semibold"
               style="font-family: yekanBakhtRegular">
                استفاده از طراحی های خاص و جذاب در تولید پوشاک
            </p>
        </div>

        <div class="text-center flex flex-col justify-start my-5 items-center p-3 min-h-[147px]">
            <img class="w-[42px] h-[42px]" src="/ArefSet/src/assets/images/landing/car.svg" alt="car" title="  ارسال مطمئن" />
            <h6 class="text-[17px] lg:text-[24px] text-[#FCFCFC] py-4"
                style="font-family: yekanBakhtBold">
                ارسال مطمئن
            </h6>
            <p class="text-[12px] lg:text-[16px] text-[#EDEDED] font-semibold"
               style="font-family: yekanBakhtRegular">
                ارسال به موقع و مطمئن اجناس خریداری شده شما
            </p>
        </div>

        <div class="text-center flex flex-col justify-start items-center my-5 p-3 min-h-[147px]">
            <img class="w-[42px] h-[42px]"
                 src="/ArefSet/src/assets/images/landing/color-swatch.png"
                 alt="color-swatch" title="  تنوع رنگ" />

            <h6 class="text-[17px] lg:text-[24px] text-[#FCFCFC] py-4"
                style="font-family: yekanBakhtBold">
                تنوع رنگ
            </h6>
            <p class="text-[12px] lg:text-[16px] text-[#EDEDED] font-semibold"
               style="font-family: yekanBakhtRegular">
                تنوع در رنگ بندی و استفاده از رنگ های  جذاب در محصولات
            </p>
        </div>

    </div>

    <div class="lg:border-b-[1px] lg:border-[#7E8285] max-w-[99%] lg:max-w-[86.5em] mx-auto p-1 pt-10 pb-7 grid grid-cols-1 md:grid-cols-1 lg:grid-cols-2 gap-4">
        <div class="flex flex-col justify-start items-start text-right">
            <img class="w-[94px] mb-5"
                 src="/ArefSet/src/assets/images/landing/Arefset foo.png"
                 alt="" />
            <p class="text-[16px] font-normal text-[#FCFCFC] leading-[24.8px] mb-6 lg:mb-0"
               style="font-family: yekanBakhtRegular;">
                جنس و بافت پارچه های مختلف، تاثیر مستقیمی بر سلامت پوست شما دارند.
                تمامی محصولات برند عارف از الیاف طبیعی تهیه شده است و کاملا به زیبایی استایل شما کمک میکند.
            </p>
            <div class="border-t-[1px] text-[#FCFCFC] w-full mt-8 pt-6 py-8 border-[#7E8285] lg:flex lg:justify-start lg:items-center gap-2 text-right hidden">
                @* <img class="w-[20px]"
                    src="/ArefSet/src/assets/images/landing/location@2x.png"
                    alt="" />*@
                <svg class="w-[20px]" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10.0004 11.1917C11.4363 11.1917 12.6004 10.0276 12.6004 8.5917C12.6004 7.15576 11.4363 5.9917 10.0004 5.9917C8.56445 5.9917 7.40039 7.15576 7.40039 8.5917C7.40039 10.0276 8.56445 11.1917 10.0004 11.1917Z" stroke="#EDEDED" stroke-width="1.5" />
                    <path d="M3.01675 7.07508C4.65842 -0.141583 15.3501 -0.13325 16.9834 7.08342C17.9418 11.3167 15.3084 14.9001 13.0001 17.1168C11.3251 18.7334 8.67508 18.7334 6.99175 17.1168C4.69175 14.9001 2.05842 11.3084 3.01675 7.07508Z" stroke="#EDEDED" stroke-width="1.5" />
                </svg>

                <p class="text-[16px] font-normal text-[#FCFCFC] leading-[22px]">
                    خط تولید : در سراسر ایران
                </p>
            </div>
        </div>
        <div class="grid grid-cols-2 md:grid-cols-2 lg:grid-cols-3 p-0 lg:pr-8">

            <div class="flex flex-col justify-start items-start text-right">
                <a asp-action="AboutUs" asp-area="" asp-controller="Home" class="text-[20px] lg:text-[24px] text-[#FCFCFC] leading-[35px] mb-3"
                   style="font-family: yekanBakhtSemiBold;">
                    درباره ما
                </a>
                <a asp-action="AboutUs" asp-area="" asp-controller="Home" class="text-[16px] font-normal text-[#FCFCFC] leading-[22px] mb-3"
                   style="font-family: yekanBakhtRegular;">
                    درباره عارف
                </a>
                <a href="https://wa.me/message/WEYC33IUC2KXM1?src=qr" class="text-[16px] font-normal text-[#FCFCFC] leading-[22px] mb-3"
                   style="font-family: yekanBakhtRegular;">
                    پشتیبانی
                </a>
                <a asp-action="AboutUs" asp-area="" asp-controller="Home" class="text-[16px] font-normal text-[#FCFCFC] leading-[22px] mb-3"
                   style="font-family: yekanBakhtRegular;">
                    قوانین و مقررات
                </a>
            </div>

            <div class="flex flex-col justify-start items-start text-right">
                <a asp-action="ContactUs" asp-area="" asp-controller="Home" class="text-[20px] lg:text-[24px] text-[#FCFCFC] leading-[35px] mb-3"
                   style="font-family: yekanBakhtSemiBold;">
                    تماس با ما
                </a>
                @*<a asp-action="ContactUs" asp-area="" asp-controller="Home" class="flex items-center justify-start gap-2 text-[16px] font-normal text-[#FCFCFC] leading-[22px] mb-3"*@
                <a href="mailto:info@arefset.ir"  class="flex items-center justify-start gap-2 text-[16px] font-normal text-[#FCFCFC] leading-[22px] mb-3"
                   style="font-family: yekanBakhtRegular;">
                    @*<img src="/ArefSet/src/assets/images/landing/sms.png" alt="" />*@
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M14.166 17.0834H5.83268C3.33268 17.0834 1.66602 15.8334 1.66602 12.9167V7.08341C1.66602 4.16675 3.33268 2.91675 5.83268 2.91675H14.166C16.666 2.91675 18.3327 4.16675 18.3327 7.08341V12.9167C18.3327 15.8334 16.666 17.0834 14.166 17.0834Z" stroke="#EDEDED" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M14.1673 7.5L11.559 9.58333C10.7006 10.2667 9.29231 10.2667 8.43398 9.58333L5.83398 7.5" stroke="#EDEDED" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    info@arefset.ir
                </a>
                <a href="tel:01133215295"  class="flex items-center justify-start gap-2 text-[16px] font-normal text-[#FCFCFC] leading-[22px] mb-3"
                   style="font-family: yekanBakhtRegular;">
                    @*<img src="/ArefSet/src/assets/images/landing/call-incoming.png" alt="" />*@
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M18.3077 15.2751C18.3077 15.5751 18.241 15.8834 18.0993 16.1834C17.9577 16.4834 17.7744 16.7667 17.5327 17.0334C17.1244 17.4834 16.6743 17.8084 16.166 18.0167C15.666 18.2251 15.1244 18.3334 14.541 18.3334C13.691 18.3334 12.7827 18.1334 11.8243 17.7251C10.866 17.3167 9.90768 16.7667 8.95768 16.0751C7.99935 15.3751 7.09102 14.6001 6.22435 13.7417C5.36602 12.8751 4.59102 11.9667 3.89935 11.0167C3.21602 10.0667 2.66602 9.11675 2.26602 8.17508C1.86602 7.22508 1.66602 6.31675 1.66602 5.45008C1.66602 4.88341 1.76602 4.34175 1.96602 3.84175C2.16602 3.33341 2.48268 2.86675 2.92435 2.45008C3.45768 1.92508 4.04102 1.66675 4.65768 1.66675C4.89102 1.66675 5.12435 1.71675 5.33268 1.81675C5.54935 1.91675 5.74102 2.06675 5.89102 2.28341L7.82435 5.00841C7.97435 5.21675 8.08268 5.40841 8.15768 5.59175C8.23268 5.76675 8.27435 5.94175 8.27435 6.10008C8.27435 6.30008 8.21602 6.50008 8.09935 6.69175C7.99102 6.88341 7.83268 7.08341 7.63268 7.28341L6.99935 7.94175C6.90768 8.03341 6.86602 8.14175 6.86602 8.27508C6.86602 8.34175 6.87435 8.40008 6.89102 8.46675C6.91602 8.53341 6.94102 8.58341 6.95768 8.63341C7.10768 8.90841 7.36602 9.26675 7.73268 9.70008C8.10768 10.1334 8.50768 10.5751 8.94102 11.0167C9.39102 11.4584 9.82435 11.8667 10.266 12.2417C10.6993 12.6084 11.0577 12.8584 11.341 13.0084C11.3827 13.0251 11.4327 13.0501 11.491 13.0751C11.5577 13.1001 11.6243 13.1084 11.6993 13.1084C11.841 13.1084 11.9493 13.0584 12.041 12.9667L12.6743 12.3417C12.8827 12.1334 13.0827 11.9751 13.2743 11.8751C13.466 11.7584 13.6577 11.7001 13.866 11.7001C14.0243 11.7001 14.191 11.7334 14.3743 11.8084C14.5577 11.8834 14.7494 11.9917 14.9577 12.1334L17.716 14.0917C17.9327 14.2417 18.0827 14.4167 18.1743 14.6251C18.2577 14.8334 18.3077 15.0417 18.3077 15.2751Z" stroke="#EDEDED" stroke-width="1.5" stroke-miterlimit="10" />
                        <path d="M13.5 6.5H17.5M13.5 6.5V2.5V6.5Z" stroke="#EDEDED" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    01133215295
                </a>
                <a href="tel:09908826036" class="flex items-center justify-start gap-2 text-[16px] font-normal text-[#FCFCFC] leading-[22px] mb-3"
                   style="font-family: yekanBakhtRegular;">
                    @*<img src="/ArefSet/src/assets/images/landing/whatsapp.svg" alt="" />*@
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5.74935 17.1667C6.99935 17.9167 8.49935 18.3334 9.99935 18.3334C14.5827 18.3334 18.3327 14.5834 18.3327 10.0001C18.3327 5.41675 14.5827 1.66675 9.99935 1.66675C5.41602 1.66675 1.66602 5.41675 1.66602 10.0001C1.66602 11.5001 2.08268 12.9167 2.74935 14.1667L2.10646 16.6394C1.91174 17.3883 2.60494 18.0652 3.349 17.8526L5.74935 17.1667Z" stroke="#EDEDED" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M13.75 12.3737C13.75 12.5087 13.72 12.6475 13.6561 12.7825C13.5923 12.9175 13.5096 13.045 13.4007 13.165C13.2167 13.3675 13.0139 13.5138 12.7848 13.6075C12.5595 13.7013 12.3153 13.75 12.0525 13.75C11.6694 13.75 11.26 13.66 10.8281 13.4763C10.3962 13.2925 9.96432 13.045 9.53618 12.7338C9.10428 12.4188 8.69492 12.07 8.30433 11.6837C7.9175 11.2937 7.56823 10.885 7.25651 10.4575C6.94855 10.03 6.70068 9.6025 6.52041 9.17875C6.34014 8.75125 6.25 8.3425 6.25 7.9525C6.25 7.6975 6.29507 7.45375 6.3852 7.22875C6.47534 7 6.61805 6.79 6.8171 6.6025C7.05746 6.36625 7.32036 6.25 7.59827 6.25C7.70343 6.25 7.80859 6.2725 7.90248 6.3175C8.00013 6.3625 8.0865 6.43 8.15411 6.5275L9.02541 7.75375C9.09301 7.8475 9.14184 7.93375 9.17564 8.01625C9.20944 8.095 9.22822 8.17375 9.22822 8.245C9.22822 8.335 9.20193 8.425 9.14935 8.51125C9.10053 8.5975 9.02917 8.6875 8.93903 8.7775L8.65361 9.07375C8.61229 9.115 8.59352 9.16375 8.59352 9.22375C8.59352 9.25375 8.59727 9.28 8.60478 9.31C8.61605 9.34 8.62732 9.3625 8.63483 9.385C8.70243 9.50875 8.81885 9.67 8.9841 9.865C9.1531 10.06 9.33337 10.2588 9.52867 10.4575C9.73147 10.6563 9.92677 10.84 10.1258 11.0087C10.3211 11.1737 10.4826 11.2862 10.6103 11.3537C10.6291 11.3612 10.6516 11.3725 10.6779 11.3837C10.7079 11.395 10.738 11.3987 10.7718 11.3987C10.8356 11.3987 10.8845 11.3763 10.9258 11.335L11.2112 11.0538C11.3051 10.96 11.3952 10.8887 11.4816 10.8438C11.568 10.7912 11.6544 10.765 11.7482 10.765C11.8196 10.765 11.8947 10.78 11.9773 10.8138C12.06 10.8475 12.1463 10.8963 12.2402 10.96L13.4834 11.8412C13.581 11.9087 13.6486 11.9875 13.6899 12.0812C13.7275 12.175 13.75 12.2687 13.75 12.3737Z" stroke="#EDEDED" stroke-miterlimit="10" />
                    </svg>

                    09908826036
                </a>
            </div>

            <div class="flex flex-col justify-start items-start text-right mt-3 lg:mt-0">
                <p class="text-[20px] lg:text-[24px] text-[#FCFCFC] leading-[35px] mb-3"
                   style="font-family: yekanBakhtSemiBold;">
                    لینک های مفید
                </p>
                <a href="/" class="text-[16px] font-normal text-[#FCFCFC] leading-[22px] mb-3"
                   style="font-family: yekanBakhtRegular;">
                    صفحه اصلی
                </a>
                <a asp-action="ListOfProducts" asp-area="" asp-controller="Products" class="text-[16px] font-normal text-[#FCFCFC] leading-[22px] mb-3"
                   style="font-family: yekanBakhtRegular;">
                    فروشگاه
                </a>
                <a asp-action="ListOfBlogs" asp-area="" asp-controller="Blog" class="text-[16px] font-normal text-[#FCFCFC] leading-[22px] mb-3"
                   style="font-family: yekanBakhtRegular;">
                    وبلاگ
                </a>
            </div>

        </div>

        <div class="w-full flex justify-center items-center gap-2 text-center lg:hidden my-4 lg:my-0">
            <img class="w-[20px]"
                 src="/ArefSet/src/assets/images/landing/location@2x.png"
                 alt="" />
            <p class="text-[16px] font-normal text-[#FCFCFC] leading-[22px]">
                خط تولید پوشاک در سراسر ایران
            </p>
        </div>
    </div>

    <div class="max-w-[99%] lg:max-w-[86.5em] mx-auto p-1 flex items-center flex-col justify-start lg:flex lg:items-center lg:flex-row lg:justify-between">
        <div class="text-[18px] font-normal text-[#FCFCFC] leading-[28px] mb-3">
            <p class="">
                تمامی حقوق برای سایت برند
                <a href="https://arefset.com/" class="d-inline-block text-[#D92626]">
                    <img src="~/ArefSet/src/assets/images/landing/Arefset foo.png" alt="AREFSET" width="50" />
                </a> محفوظ است.
            </p>
            طراحی و توسعه این
            سایت توسط
            <a href="https://gandom.link/" class="text-[#D92626]"> تیم نرم افزاری گندم </a> انجام شده
            است.
        </div>
        <a href="#toTop"
           class="z-[1000] my-3 mt-6 hover:bg-[#ffff] border-[1px] border-[#fff] hover:border-[#fff] transition-all duration-300 transform ease-linear focus:outline-none bg-transparent px-7 py-3 flex items-center text-[#fff] hover:text-[#252525]">
            رفتن به بالا
            @* <img class="ms-3 transform rotate-90"
                src="/ArefSet/src/assets/images/landing/arrow-left.png"
                alt="" />*@
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-arrow-left ms-3 transform rotate-90" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
            </svg>
        </a>
    </div>
</footer>
<!-- <h1 class="text-3xl font-bold underline text-red-300">Hello world!</h1> -->