<footer class="mx-auto bg-[#252525] w-full h-auto px-7 lg:px-0 footer">
    <div class="border-b-[1px] border-[#7E8285] max-w-[99%]  lg:max-w-[86.5em] mx-auto p-1 pb-10 grid grid-cols-2 md:grid-cols-2 lg:grid-cols-4 gap-4 lg:px-10">
        <div class="text-center flex flex-col justify-start my-5 items-center p-3 min-h-[147px]">
            <img class=" h-[42px]"
                 src="/ArefSet/src/assets/images/landing/Group 21.png"
                 alt="quality guarantee" title=" تضمین کیفیت" />
            <h6 class="text-[17px] lg:text-[24px] text-[#fff] py-4"
                style="font-family: yekanBakhtExtraBold">
                تضمین کیفیت
            </h6>
            <p class="text-[12px] lg:text-[16px] text-[#EDEDED] font-semibold"
               style="font-family: yekanBakhtSemiBold">
                کیفیت بالا پارچه و استفاده از الیاف طبیعی نخ و پنبه
            </p>
        </div>

        <div class="text-center flex flex-col justify-start my-5 items-center p-3 min-h-[147px]">
            <img class="w-[42px] h-[42px]"
                 src="/ArefSet/src/assets/images/landing/scissor.png"
                 alt="scissor" title="  طراحی خاص" />
            <h6 class="text-[17px] lg:text-[24px] text-[#fff] py-4"
                style="font-family: yekanBakhtExtraBold">
                طراحی خاص
            </h6>
            <p class="text-[12px] lg:text-[16px] text-[#EDEDED] font-semibold"
               style="font-family: yekanBakhtSemiBold">
                استفاده از طراحی های خاص و جذاب در تولید پوشاک
            </p>
        </div>

        <div class="text-center flex flex-col justify-start my-5 items-center p-3 min-h-[147px]">
            <img class="w-[42px] h-[42px]" src="/ArefSet/src/assets/images/landing/car.svg" alt="car" title="  ارسال مطمئن" />
            <h6 class="text-[17px] lg:text-[24px] text-[#fff] py-4"
                style="font-family: yekanBakhtExtraBold">
                ارسال مطمئن
            </h6>
            <p class="text-[12px] lg:text-[16px] text-[#EDEDED] font-semibold"
               style="font-family: yekanBakhtSemiBold">
                ارسال به موقع و مطمئن اجناس خریداری شده شما
            </p>
        </div>

        <div class="text-center flex flex-col justify-start my-5 items-center p-3 min-h-[147px]">
            <img class="w-[42px] h-[42px]"
                 src="/ArefSet/src/assets/images/landing/color-swatch.png"
                 alt="color-swatch" title="  تنوع رنگ" />

            <h6 class="text-[17px] lg:text-[24px] text-[#fff] py-4"
                style="font-family: yekanBakhtExtraBold">
                تنوع رنگ
            </h6>
            <p class="text-[12px] lg:text-[16px] text-[#EDEDED] font-semibold"
               style="font-family: yekanBakhtSemiBold">
                تنوع بالا در رنگ بندی محصولات عارف
            </p>
        </div>

    </div>

    <div class="lg:border-b-[1px] lg:border-[#7E8285] max-w-[99%] lg:max-w-[86.5em] mx-auto p-1 pt-10 pb-7 grid grid-cols-1 md:grid-cols-1 lg:grid-cols-2 gap-4">
        <div class="flex flex-col justify-start items-start text-right">
            <img class="w-[94px] mb-5"
                 src="/ArefSet/src/assets/images/landing/Arefset foo.png"
                 alt="" />
            <p class="text-[16px] font-normal text-[#FCFCFC] leading-[24.8px] mb-6 lg:mb-0"
               style="font-family: yekanBakhtRegular;">
                جنس و بافت پارچه های مختلف، تاثیر مستقیمی بر سلامت پوست شما دارند.
                تمامی محصولات برند AREF از الیاف طبیعی تهیه شده اند و کاملا دوستدار
                سلامت پوست شما هستند.
            </p>
            <div class="border-t-[1px] w-full mt-8 pt-6 py-8 border-[#7E8285] lg:flex lg:justify-start lg:items-center gap-2 text-right hidden">
                <img class="w-[20px]"
                     src="/ArefSet/src/assets/images/landing/location@2x.png"
                     alt="" />
                <p class="text-[16px] font-normal text-[#FCFCFC] leading-[22px]">
                    آدرس تولیدی : تهران - خیابان انقلاب
                </p>
            </div>
        </div>
        <div class="grid grid-cols-2 md:grid-cols-2 lg:grid-cols-3 p-0 lg:pr-8">

            <div class="flex flex-col justify-start items-start text-right">
                <a asp-action="AboutUs" asp-area="" asp-controller="Home" class="text-[20px] lg:text-[24px] text-[#FCFCFC] leading-[35px] mb-3"
                   style="font-family: yekanBakhtSemiBold;">
                    درباره ما
                </a>
                <a asp-action="AboutUs" asp-area="" asp-controller="Home" class="text-[16px] font-normal text-[#FCFCFC] leading-[22px] mb-3"
                   style="font-family: yekanBakhtRegular;">
                    درباره عارف
                </a>
                <a asp-action="AboutUs" asp-area="" asp-controller="Home" class="text-[16px] font-normal text-[#FCFCFC] leading-[22px] mb-3"
                   style="font-family: yekanBakhtRegular;">
                    همکاری با ما
                </a>
                <a asp-action="AboutUs" asp-area="" asp-controller="Home" class="text-[16px] font-normal text-[#FCFCFC] leading-[22px] mb-3"
                   style="font-family: yekanBakhtRegular;">
                    قوانین و مقررات
                </a>
            </div>

            <div class="flex flex-col justify-start items-start text-right">
                <a asp-action="ContactUs" asp-area="" asp-controller="Home" class="text-[20px] lg:text-[24px] text-[#FCFCFC] leading-[35px] mb-3"
                   style="font-family: yekanBakhtSemiBold;">
                    تماس با ما
                </a>
                <a asp-action="ContactUs" asp-area="" asp-controller="Home" class="flex items-center justify-start gap-2 text-[16px] font-normal text-[#FCFCFC] leading-[22px] mb-3"
                   style="font-family: yekanBakhtRegular;">
                    <img src="/ArefSet/src/assets/images/landing/sms.png" alt="" />
                    info@arefset.ir
                </a>
                <a asp-action="ContactUs" asp-area="" asp-controller="Home" class="flex items-center justify-start gap-2 text-[16px] font-normal text-[#FCFCFC] leading-[22px] mb-3"
                   style="font-family: yekanBakhtRegular;">
                    <img src="/ArefSet/src/assets/images/landing/call-incoming.png" alt="" />
                    09114119225
                </a>
                <a asp-action="ContactUs" asp-area="" asp-controller="Home" class="flex items-center justify-start gap-2 text-[16px] font-normal text-[#FCFCFC] leading-[22px] mb-3"
                   style="font-family: yekanBakhtRegular;">
                    <img src="/ArefSet/src/assets/images/landing/whatsapp.svg" alt="" />
                    09114119225
                </a>
            </div>

            <div class="flex flex-col justify-start items-start text-right mt-3 lg:mt-0">
                <p class="text-[20px] lg:text-[24px] text-[#FCFCFC] leading-[35px] mb-3"
                   style="font-family: yekanBakhtSemiBold;">
                    لینک های مفید
                </p>
                <a href="/" class="text-[16px] font-normal text-[#FCFCFC] leading-[22px] mb-3"
                   style="font-family: yekanBakhtRegular;">
                    صفحه اصلی
                </a>
                <a asp-action="ListOfProducts" asp-area="" asp-controller="Products" class="text-[16px] font-normal text-[#FCFCFC] leading-[22px] mb-3"
                   style="font-family: yekanBakhtRegular;">
                    فروشگاه
                </a>
                <a asp-action="ListOfBlogs" asp-area="" asp-controller="Blog" class="text-[16px] font-normal text-[#FCFCFC] leading-[22px] mb-3"
                   style="font-family: yekanBakhtRegular;">
                    وبلاگ
                </a>
            </div>

        </div>

        <div class="w-full flex justify-center items-center gap-2 text-center lg:hidden my-4 lg:my-0">
            <img class="w-[20px]"
                 src="/ArefSet/src/assets/images/landing/location@2x.png"
                 alt="" />
            <p class="text-[16px] font-normal text-[#FCFCFC] leading-[22px]">
                آدرس تولیدی : تهران - خیابان انقلاب
            </p>
        </div>
    </div>

    <div class="max-w-[99%] lg:max-w-[86.5em] mx-auto p-1 flex items-center flex-col justify-start lg:flex lg:items-center lg:flex-row lg:justify-between">
        <p class="text-[18px] font-normal text-[#FCFCFC] leading-[28px] mb-3">
            تمامی حقوق برای سایت بازرگانی
            <span class="text-[#D92626]">عارف</span> محفوظ است. طراحی و توسعه این
            سایت توسط
            <span class="text-[#D92626]"> تیم نرم افزاری گندم </span> انجام شده
            است.
        </p>
        <a href="#toTop"
           class="my-3 mt-6 hover:bg-[#ffff] border-[1px] border-[#fff] hover:border-[#fff] transition-all duration-300 transform ease-linear focus:outline-none bg-transparent px-7 py-3 flex items-center text-[#fff] hover:text-[#252525]">
            رفتن به بالا
            <img class="ms-3 transform rotate-90"
                 src="/ArefSet/src/assets/images/landing/arrow-left.png"
                 alt="" />
        </a>
    </div>
</footer>
<!-- <h1 class="text-3xl font-bold underline text-red-300">Hello world!</h1> -->