
<!DOCTYPE html>
<html lang="en">
<head>

    <title>  فروشگاه پوشاک عارف-@ViewData["Title"] </title>

    @await RenderSectionAsync("MetaTags", false)

    <partial name="_HeaderReferences" />

    @await RenderSectionAsync("Styles", false)

</head>
<body dir="rtl">
    <header class="mx-auto" id="toTop">

        <!-- Site Side Bar -->
        @await Component.InvokeAsync("SiteSideBar")

    </header>



    @*Site Footer*@
    <partial name="_Footer" />

    <partial name="_FooterReferences" />

    <partial name="_Notification" />

    @await RenderSectionAsync("Scripts", false)


</body>
</html>


@RenderBody()