
<!DOCTYPE html>
<html lang="en">
<head>

    <title>  فروشگاه پوشاک عارف-@ViewData["Title"] </title>

    @await RenderSectionAsync("MetaTags", false)

    <partial name="_HeaderReferences" />

    @await RenderSectionAsync("Styles", false)

    <style>
        .shopCardHover .product-image {
            display:block;
           /* visibility:visible;
            opacity:1;*/
            transition: all .4s ease
        }

        .shopCardHover .product-image-hover {
            display:none;
            /*visibility:hidden;
            opacity:0;*/
            transition: all .4s ease
        }

        .shopCardHover:hover .product-image {
            display: none;
           /* visibility: hidden;
            opacity: 0;*/
 
        }

        .shopCardHover:hover .product-image-hover {
            display: block;
           /* visibility: visible;
            opacity: 1;*/
        }

        .shopCardTitle {
            width: auto;
            display: block
        }

        .listShopCartTitle {
            width: auto;
            display: block
        }

        @@media screen and (min-width: 768px) {
            .shopCardTitle {
                width: 283px;
                display: inline-block
            }

            .listShopCartTitle {
                width: 200px;
                display: inline-block
            }
        }

        .blogCard:hover{
           /* background-color:#252525;
            opacity:0.8*/
            background: linear-gradient(135deg,rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3));
            -webkit-backdrop-filter: blur(21px);
            backdrop-filter: blur(21px);
        }

    </style>

</head>
<body dir="rtl">

    <header class="mx-auto" id="toTop">

        <!-- Site Side Bar -->
        @await Component.InvokeAsync("SiteSideBar")

        @await RenderSectionAsync("Slider", false)

    </header>

    @RenderBody()

    @*Site Footer*@
    <partial name="_Footer" />

    <partial name="_FooterReferences" />

    <partial name="_Notification" />

    @await RenderSectionAsync("Scripts", false)

    <script>

        $("#SearchIcon1").click(function () {

            $("#Searchfiltre1").submit();

        });

        $("#SearchIcon").click(function () {

            $("#Searchfiltre").submit();

        });
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.classList.add("hidden");
                body.style.overflow = "auto";
            }
            if (event.target == menu) {
                menu.classList.add("opacity-0");
                menu.classList.add("invisible");
                body.style.overflow = "auto";
            }
        }

        function loadedPage() {
            // alert("Page is loaded");
            document.querySelector(".leaflet-control-attribution").remove();
        }
    </script>

</body>
</html>


