
<!DOCTYPE html>
<html lang="en">
<head>

    <title>  فروشگاه پوشاک عارف-@ViewData["Title"] </title>

    @await RenderSectionAsync("MetaTags", false)

    <partial name="_HeaderReferences" />

    @await RenderSectionAsync("Styles", false)

</head>
<body dir="rtl">

    <header class="mx-auto" id="toTop">

        <!-- Site Side Bar -->
        @await Component.InvokeAsync("SiteSideBar")

        @await RenderSectionAsync("Slider", false)

    </header>

    @RenderBody()

    @*Site Footer*@
    <partial name="_Footer" />

    <partial name="_FooterReferences" />

    <partial name="_Notification" />

    @await RenderSectionAsync("Scripts", false)

    <script>

        $("#SearchIcon1").click(function () {

            $("#Searchfiltre1").submit();

        });

        $("#SearchIcon").click(function () {

            $("#Searchfiltre").submit();

        });
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.classList.add("hidden");
                body.style.overflow = "auto";
            }
            if (event.target == menu) {
                menu.classList.add("opacity-0");
                menu.classList.add("invisible");
                body.style.overflow = "auto";
            }
        }

    </script>

</body>
</html>


