@model Domain.Models.Product.ProductCategories

@{
    ViewData["Title"] = "افزودن ";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@section Scripts
    {
    <script>
        function readURL(input) {

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#imgAvatar').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#imgBlogUp").change(function () {
            readURL(this);
        });
    </script>

}

<div class="content-wrapper" style="min-height: 805px;">

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>افزوده دسته بندی جدید </h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-left">
                        <li class="breadcrumb-item"><a href="/Admin">خانه</a></li>
                        <li class="breadcrumb-item active">افزوده دسته بندی جدید </li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <section class="content">
        <form role="form" asp-action="Create" asp-area="Admin" asp-controller="ProductCategories" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-7">

                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">دسته بندی</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->

                        <div class="card-body">
                            <div class="form-group">
                                <label for="exampleInputEmail1"> دسته بندی جدید </label>
                                <input type="text" asp-for="CategoryTitle" class="form-control" id="exampleInputEmail1" placeholder="دسته بندی خود را وارد کنید ">
                            </div>
                            <input type="hidden" asp-for="ParentId" />

                            <div class="form-group">
                                <label for="exampleInputEmail1"> Div کلاس تگ  </label>
                                <select  asp-for="DivTagClass" class="form-control" id="exampleInputEmail1">

                                    <option value="transition-all h-44 lg:h-auto col-span-2 md:col-span-2 lg:col-span-2 row-span-1 bg-slate-300 relative landingGridItem">آیتم اول</option>
                                    <option value="transition-all relative landingGridItem col-span-2 md:col-span-2 lg:col-span-1 row-span-3 bg-slate-400">آیتم دوم</option>
                                    <option value="transition-all h-44 lg:h-auto relative landingGridItem col-span-1 md:col-span-1 lg:col-span-1 row-span-1 lg:row-span-2 bg-slate-500">آیتم سوم</option>
                                    <option value="transition-all h-44 lg:h-auto relative landingGridItem col-span-1 md:col-span-1 lg:col-span-1 row-span-1 lg:row-span-2 bg-slate-600">آیتم چهارم</option>

                                </select>
                            </div>

                            <div class="form-group">
                                <label for="exampleInputEmail1"> نمایش در قسمت بالایی دسته بندی ها   </label>
                                <select asp-for="ShowInPart1" class="form-control" id="exampleInputEmail1">
                                    <option value="1">نمایش</option>
                                    <option value="0">عدم نمایش</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="exampleInputEmail1"> نمایش در قسمت پایینی دسته بندی ها   </label>
                                <select asp-for="ShowInPart2" class="form-control" id="exampleInputEmail1">
                                    <option value="1">نمایش</option>
                                    <option value="0">عدم نمایش</option>
                                </select>
                            </div>

                                <div class="form-group">
                                <label for="exampleInputEmail1"> P کلاس تگ  </label>
                                <input type="text" asp-for="PTagClass" class="form-control" id="exampleInputEmail1" placeholder=" P کلاس تگ خود را وارد کنید ">
                            </div>

                            <div class="form-group">
                                <label for="exampleInputEmail1"> الویت نمایش </label>
                                <input type="number" asp-for="Priority" class="form-control" id="exampleInputEmail1" placeholder="الویت نمایش خود را وارد کنید ">
                            </div>

                        </div>
                        <!-- /.card-body -->

                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">ارسال</button>
                        </div>
                </div>
            </div>

            <div class="col-md-5">
                <!-- Horizontal Form -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">  تصویر  </h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="form-horizontal">
                        <div class="card-body row">
                            <img style="margin:auto; width:342px" id="imgAvatar" class="img-responsive rounded" src="~/Images/Product/image/no-photo.png" alt="upload_img">
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" name="imgBlogUp" id="imgBlogUp">
                                    <label class="custom-file-label" for="exampleInputFile">انتخاب فایل</label>
                                </div>

                            </div>
                        </div>
                        <!-- /.card-body -->
                        <!-- /.card-footer -->
                    </div>
                </div>

            </div>
        </div>

        </form>
    </section>

</div>
