@model Domain.Models.Product.ProductCategories
@using Application.StaticTools
@{
    ViewData["Title"] = "ویرایش ";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@section Scripts
    {
    <script>
        function readURL(input) {

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#imgAvatar').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#imgBlogUp").change(function () {
            readURL(this);
        });
    </script>

}

<div class="content-wrapper" style="min-height: 805px;">

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>ویرایش دسته بندی  </h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-left">
                        <li class="breadcrumb-item"><a href="/Admin">خانه</a></li>
                        <li class="breadcrumb-item active">ویرایش دسته بندی  </li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>    <section class="content">
       
            <form role="form" asp-action="Edit" asp-area="Admin" asp-controller="ProductCategories" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-7">

                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">دسته بندی</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <div class="card-body">
                            <div class="form-group">
                                <label for="exampleInputEmail1"> دسته بندی جدید </label>
                                <input type="text" asp-for="CategoryTitle" class="form-control" id="exampleInputEmail1" placeholder="دسته بندی خود را وارد کنید ">
                            </div>
                            <input type="hidden" asp-for="ProductCategoryId" />
                            <input type="hidden" asp-for="ParentId" />
                        </div>
                        <!-- /.card-body -->

                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">ارسال</button>
                        </div>
                    </div>
                </div>

                <div class="col-md-5">
                    <!-- Horizontal Form -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">  تصویر  </h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <div class="form-horizontal">
                            <div class="card-body row">
                                <img style="margin:auto; width:342px" id="imgAvatar" class="img-responsive rounded" src=@(string.IsNullOrEmpty(Model.ImageName) ? "~/Images/Product/image/no-photo.png" : $"{PathTools.ProductCategoryPathThumb}/{Model.ImageName}" ) alt="upload_img">
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" name="imgBlogUp" id="imgBlogUp">
                                        <label class="custom-file-label" for="exampleInputFile">انتخاب فایل</label>
                                    </div>

                                </div>
                            </div>
                            <!-- /.card-body -->
                            <!-- /.card-footer -->
                        </div>
                    </div>

                </div>
            </div>
            </form>

        
    </section>

</div>
