@model Application.ViewModels.ChangeUserPasswordViewModel
@{
    ViewData["Title"] = "تغییر رمز عبور ";
}



<div class="col-lg-8 col-12">
    <div class="card border-0 rounded shadow">
        <div class="card-body">
            <form asp-action="ChangePassword" asp-controller="Account" asp-area="User" method="post">

                <div class="row mt-4">
                    <div class="col-md-12">
                        <div class="mb-3">
                            <label class="form-label">کلمه ی عبور فعلی  </label>
                            <div class="form-icon position-relative">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user fea icon-sm icons"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                                <input asp-for="OldPassword" id="first"  type="text" class="form-control ps-5" placeholder="کلمه ی عبور فعلی :">
                                <span asp-validation-for="OldPassword" class="text-danger"></span>

                            </div>
                        </div>
                    </div><!--end col-->
                    <div class="col-md-12">
                        <div class="mb-3">
                            <label class="form-label"> کلمه ی عبور جدید  </label>
                            <div class="form-icon position-relative">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user-check fea icon-sm icons"><path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="8.5" cy="7" r="4"></circle><polyline points="17 11 19 13 23 9"></polyline></svg>
                                <input asp-for="Password" id="last" type="text" class="form-control ps-5" placeholder="کلمه ی عبور جدید :">
                                <span asp-validation-for="Password" class="text-danger"></span>

                            </div>
                        </div>
                    </div><!--end col-->
                    <div class="col-md-12">
                        <div class="mb-3">
                            <label class="form-label">تکرار کلمه ی عبور </label>
                            <div class="form-icon position-relative">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-mail fea icon-sm icons"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path><polyline points="22,6 12,13 2,6"></polyline></svg>
                                <input asp-for="RePassword" id="email" type="text" class="form-control ps-5" placeholder="تکرار کلمه ی عبور  :">
                                <span asp-validation-for="RePassword" class="text-danger"></span>

                            </div>
                        </div>
                    </div><!--end col-->

                </div><!--end row-->
                <div class="row">
                    <div class="col-sm-12">
                        <input type="submit" id="submit" class="btn btn-primary" value="ذخیره تغییرات">
                    </div><!--end col-->
                </div><!--end row-->
            </form>
        </div>
    </div>


</div>
<!--end form-->

