@model Domain.Models.Users.User


<aside id="asideCol" class="sidebar w-full lg:w-[305px] lg:bg-[#252525] lg:flex lg:flex-col lg:items-start lg:sticky lg:top-0 lg:right-0">
    <div class="w-full text-[#252525] lg:text-white py-5 gap-2">
        <div class="flex items-center justify-start gap-2 px-5 lg:mb-0 mb-5">
            <img class="w-[76px] hidden lg:inline-block" src="/ArefSet/src/assets/images/landing/Arefset foo.png" alt="">
            <div class="">
                <p class="text-[14px]">داشبورد شما</p>
                <p class="text-[12px] text-[#828282]">Your dashboard</p>
            </div>
        </div>

        <div class="h-[1px] w-[94px] m-5 bg-[#FFFFFF] lg:block hidden"></div>

        <div class="flex items-center justify-start gap-2 px-5">
            <div class="w-[48px] h-[48px] md:w-[48px] md:h-[48px] lg:w-[44px] lg:h-[44px] border-[1px] border-[#B7B7B7] flex justify-center items-center">
                <img class="w-[48px] h-[48px] md:w-[48px] md:h-[48px] lg:w-[44px] lg:h-[44px] object-cover" src="/Images/UserAvatar/@Model.UserAvatar" alt="">
                <!-- <img src="/ArefSet/src/assets/images/landing/user-pan.png" alt="" /> -->
            </div>
            <div class="">
                <p class="text-[12px]">سلام @Model.UserName</p>
                <p class="text-[12px] text-[#828282]">خوش امدید</p>
            </div>
        </div>
    </div>

    <div class="w-full text-white bg-[#252525] p-5">
        <ul class="w-full">
            <li id="myActivities" class="tablinks activeSideItem py-3 pl-2 rounded-md hover:cursor-pointer w-full flex justify-between items-center" >
                <a asp-action="Index" asp-area="User" asp-controller="Home" class="flex items-center">
                        <div class="Ellipse w-[3px] h-[3px] inline-block opacity-0">
                            <img class="w-full h-full object-cover" src="/ArefSet/src/assets/images/landing/Ellipse 503.png" alt="">
                        </div>
                        <div class="Ellipse w-[20px] h-[20px] inline-block opacity-50 mx-1">
                            @*<img class="w-full h-full object-cover" src="/ArefSet/src/assets/images/landing/home.png" alt="">*@
                          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10 15V12.5" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M8.39172 2.35004L2.61672 6.97504C1.96672 7.4917 1.55006 8.58337 1.69172 9.40004L2.80006 16.0334C3.00006 17.2167 4.13339 18.175 5.33339 18.175H14.6667C15.8584 18.175 17.0001 17.2084 17.2001 16.0334L18.3084 9.40004C18.4417 8.58337 18.0251 7.4917 17.3834 6.97504L11.6084 2.35837C10.7167 1.6417 9.27506 1.6417 8.39172 2.35004Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                          </svg>
                        </div>
                        <p class="text-[#828282] text-[12px] leading-[24px]">
                            داشبورد
                        </p>
                </a>
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-arrow-left w-[16px] opacity-50" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
                </svg>
                    @*<img class="w-[16px] opacity-50" src="/ArefSet/src/assets/images/landing/arrow-left-panel.png" alt="">*@
            </li>
            <li id="myOrders" class="tablinks py-3 pl-2 rounded-md hover:cursor-pointer w-full flex justify-between items-center">
                <a asp-action="Index" asp-area="User" asp-controller="Order" class="flex items-center">
                    <div class="Ellipse w-[3px] h-[3px] inline-block opacity-0">
                        <img class="w-full h-full object-cover" src="/ArefSet/src/assets/images/landing/Ellipse 503.png" alt="">
                    </div>
                    <div class="Ellipse w-[20px] h-[20px] inline-block opacity-50 mx-1">
                        @*<img class="w-full h-full object-cover" src="/ArefSet/src/assets/images/landing/bag-2.png" alt="">*@
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.25 6.39167V5.58334C6.25 3.70834 7.75833 1.86667 9.63333 1.69167C11.8667 1.47501 13.75 3.23334 13.75 5.42501V6.57501" stroke="white" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M7.49937 18.3334H12.4994C15.8494 18.3334 16.4494 16.9917 16.6244 15.3584L17.2494 10.3584C17.4744 8.32508 16.891 6.66675 13.3327 6.66675H6.66603C3.1077 6.66675 2.52437 8.32508 2.74937 10.3584L3.37437 15.3584C3.54937 16.9917 4.14937 18.3334 7.49937 18.3334Z" stroke="white" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M12.9121 9.99992H12.9196" stroke="white" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M7.07811 9.99992H7.08559" stroke="white" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </div>
                    <p class="text-[#828282] text-[12px] leading-[24px]">
                        سفارشات
                    </p>
                </a>
                @*<img class="w-[16px] opacity-50" src="/ArefSet/src/assets/images/landing/arrow-left-panel.png" alt="">*@
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-arrow-left w-[16px] opacity-50" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
                </svg>
            </li>
            <li id="myFavorite" class="tablinks py-3 pl-2 rounded-md hover:cursor-pointer w-full flex justify-between items-center">
                <a asp-action="ListOFFavoriteProducts" asp-area="User" asp-controller="FavoriteProduct" class="flex items-center">
                    <div class="Ellipse w-[3px] h-[3px] inline-block opacity-0">
                        <img class="w-full h-full object-cover" src="/ArefSet/src/assets/images/landing/Ellipse 503.png" alt="">
                    </div>
                    <div class="Ellipse w-[20px] h-[20px] inline-block opacity-50 mx-1">
                        @*<img class="w-full h-full object-cover" src="/ArefSet/src/assets/images/landing/heartpanel.png" alt="">*@

                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10.516 17.3416C10.2327 17.4416 9.76601 17.4416 9.48268 17.3416C7.06601 16.5166 1.66602 13.0749 1.66602 7.24158C1.66602 4.66659 3.74102 2.58325 6.29935 2.58325C7.81601 2.58325 9.15768 3.31659 9.99935 4.44992C10.841 3.31659 12.191 2.58325 13.6993 2.58325C16.2577 2.58325 18.3327 4.66659 18.3327 7.24158C18.3327 13.0749 12.9327 16.5166 10.516 17.3416Z" stroke="white" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>

                    </div>
                    <p class="text-[#828282] text-[12px] leading-[24px]">
                        لیست علاقه های من
                    </p>
                </a>
                @*<img class="w-[16px] opacity-50" src="/ArefSet/src/assets/images/landing/arrow-left-panel.png" alt="">*@
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-arrow-left w-[16px] opacity-50" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
                </svg>
            </li>
            <li id="myAddresses" class="tablinks py-3 pl-2 rounded-md hover:cursor-pointer w-full flex justify-between items-center">
                <a asp-action="Locations" asp-area="User" asp-controller="Location" class="flex items-center">
                    <div class="Ellipse w-[3px] h-[3px] inline-block opacity-0">
                        <img class="w-full h-full object-cover" src="/ArefSet/src/assets/images/landing/Ellipse 503.png" alt="">
                    </div>
                    <div class="Ellipse w-[20px] h-[20px] inline-block opacity-50 mx-1">
                        @*<img class="w-full h-full object-cover" src="/ArefSet/src/assets/images/landing/directbox-notif.png" alt="">*@
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.83333 10C2.5 10 2.5 11.4917 2.5 13.3333V14.1667C2.5 16.4667 2.5 18.3333 6.66667 18.3333H13.3333C16.6667 18.3333 17.5 16.4667 17.5 14.1667V13.3333C17.5 11.4917 17.5 10 14.1667 10C13.3333 10 13.1 10.175 12.6667 10.5L11.8167 11.4C10.8333 12.45 9.16667 12.45 8.175 11.4L7.33333 10.5C6.9 10.175 6.66667 10 5.83333 10Z" stroke="white" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M15.8327 10.0001V5.00008C15.8327 3.15841 15.8327 1.66675 12.4993 1.66675H7.49935C4.16602 1.66675 4.16602 3.15841 4.16602 5.00008V10.0001" stroke="white" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M8.79102 7.69165H11.566" stroke="white" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M8.09961 5.19165H12.2663" stroke="white" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </div>
                    <p class="text-[#828282] text-[12px] leading-[24px]">
                        ادرس های من
                    </p>
                </a>
                @*<img class="w-[16px] opacity-50" src="/ArefSet/src/assets/images/landing/arrow-left-panel.png" alt="">*@
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-arrow-left w-[16px] opacity-50" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
                </svg>
            </li>
            <li id="myComments" class="tablinks py-3 pl-2 rounded-md hover:cursor-pointer w-full flex justify-between items-center">
                <a asp-action="ListOfUserComments" asp-area="User" asp-controller="Order" class="flex items-center">
                    <div class="Ellipse w-[3px] h-[3px] inline-block opacity-0">
                        <img class="w-full h-full object-cover" src="/ArefSet/src/assets/images/landing/Ellipse 503.png" alt="">
                    </div>
                    <div class="Ellipse w-[20px] h-[20px] inline-block opacity-50 mx-1">
                        @*<img class="w-full h-full object-cover" src="/ArefSet/src/assets/images/landing/messages-2panel.png" alt="">*@
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15.3922 14.0251L15.7172 16.6584C15.8005 17.3501 15.0589 17.8334 14.4672 17.4751L10.9755 15.4001C10.5922 15.4001 10.2172 15.3751 9.85053 15.3251C10.4672 14.6001 10.8339 13.6834 10.8339 12.6917C10.8339 10.3251 8.78386 8.40844 6.25052 8.40844C5.28386 8.40844 4.39219 8.68341 3.65053 9.16675C3.62553 8.95841 3.61719 8.75007 3.61719 8.53341C3.61719 4.74174 6.90886 1.66675 10.9755 1.66675C15.0422 1.66675 18.3339 4.74174 18.3339 8.53341C18.3339 10.7834 17.1755 12.7751 15.3922 14.0251Z" stroke="white" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M10.8327 12.6917C10.8327 13.6834 10.466 14.6001 9.84936 15.3251C9.02436 16.3251 7.71602 16.9667 6.24935 16.9667L4.07435 18.2584C3.70768 18.4834 3.24101 18.1751 3.29101 17.7501L3.49935 16.1084C2.38268 15.3334 1.66602 14.0917 1.66602 12.6917C1.66602 11.2251 2.44935 9.93342 3.64935 9.16676C4.39102 8.68342 5.28268 8.40845 6.24935 8.40845C8.78268 8.40845 10.8327 10.3251 10.8327 12.6917Z" stroke="white" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </div>
                    <p class="text-[#828282] text-[12px] leading-[24px]">
                        دیدگاه های شما
                    </p>
                </a>
                @*<img class="w-[16px] opacity-50" src="/ArefSet/src/assets/images/landing/arrow-left-panel.png" alt="">*@
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-arrow-left w-[16px] opacity-50" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
                </svg>
            </li>
            <li id="myInformation" class="tablinks py-3 pl-2 rounded-md hover:cursor-pointer w-full flex justify-between items-center">
                <a asp-action="EditUser" asp-area="User" asp-controller="Account" class="flex items-center">
                    <div class="Ellipse w-[3px] h-[3px] inline-block opacity-0">
                        <img class="w-full h-full object-cover" src="/ArefSet/src/assets/images/landing/Ellipse 503.png" alt="">
                    </div>
                    <div class="Ellipse w-[20px] h-[20px] inline-block opacity-50 mx-1">
                        @*<img class="w-full h-full object-cover" src="/ArefSet/src/assets/images/landing/profile.png" alt="">*@
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10.1341 9.05842C10.0508 9.05008 9.95078 9.05008 9.85911 9.05842C7.87578 8.99175 6.30078 7.36675 6.30078 5.36675C6.30078 3.32508 7.95078 1.66675 10.0008 1.66675C12.0424 1.66675 13.7008 3.32508 13.7008 5.36675C13.6924 7.36675 12.1174 8.99175 10.1341 9.05842Z" stroke="white" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M5.96758 12.1333C3.95091 13.4833 3.95091 15.6833 5.96758 17.0249C8.25924 18.5583 12.0176 18.5583 14.3092 17.0249C16.3259 15.6749 16.3259 13.4749 14.3092 12.1333C12.0259 10.6083 8.26758 10.6083 5.96758 12.1333Z" stroke="white" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>

                    </div>
                    <p class="text-[#828282] text-[12px] leading-[24px]">
                        اطلاعات حساب کاربری
                    </p>
                </a>
                @*<img class="w-[16px] opacity-50" src="/ArefSet/src/assets/images/landing/arrow-left-panel.png" alt="">*@
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-arrow-left w-[16px] opacity-50" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
                </svg>
            </li>
        </ul>

        <a asp-action="Logout" asp-area="" asp-controller="Account" class="flex items-center justify-center mt-4 mb-7 mx-auto gap-2">
            <div class="">
                @*<img src="/ArefSet/src/assets/images/landing/login.png" alt="">*@
                <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11.125 9.45005C11.5125 4.95005 13.825 3.11255 18.8875 3.11255H19.05C24.6375 3.11255 26.875 5.35005 26.875 10.9375V19.0876C26.875 24.6751 24.6375 26.9126 19.05 26.9126H18.8875C13.8625 26.9126 11.55 25.1001 11.1375 20.6751" stroke="#D92626" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M2.5 15H18.6" stroke="#D92626" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M15.8125 10.8125L20 15L15.8125 19.1875" stroke="#D92626" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                </svg>

            </div>
            <div class="">
                <p class="text-[14px] text-[#fff]">خروج از حساب کاربری</p>
                <p class="text-[12px] text-[#828282]">
                    Sign out of the user account
                </p>
            </div>
        </a>

        <div class="flex items-center justify-center gap-2">
            @*<img class="w-[61.38px]" src="/ArefSet/src/assets/images/landing/Arefset foo.png" alt="">*@
            <svg width="62" height="21" viewBox="0 0 62 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_465_3396)">
                    <path d="M0 21C0.463788 20.1681 0.924584 19.3363 1.38987 18.5074L8.6893 5.48285L11.6276 0.237674L11.7638 0C11.7982 0.0653604 11.8236 0.108439 11.8446 0.148546L20.7598 19.6646C20.9592 20.1072 21.1587 20.5529 21.3582 21.0015H17.3427C17.3279 20.9451 17.3099 20.8895 17.2888 20.8351C15.5204 16.962 13.7516 13.0869 11.9822 9.20988L11.3703 7.87296C11.306 7.97843 11.2566 8.05716 11.2117 8.13886C8.9177 12.2278 6.62369 16.3188 4.32969 20.4118C4.22047 20.6064 4.12472 20.8084 4.02299 21.0059L0 21Z" fill="white" />
                    <path d="M24.2716 20.9998C24.122 20.6745 23.9918 20.3462 23.8422 20.0239C22.391 16.9114 20.9393 13.8018 19.4871 10.6952C19.4677 10.6521 19.4512 10.6105 19.4213 10.5466H19.6517C20.7214 10.5466 21.7941 10.5674 22.8638 10.5303C24.4317 10.4768 25.856 9.18001 26.1058 7.63661C26.2688 6.72235 26.0616 5.78117 25.5292 5.01783C24.9969 4.25449 24.1825 3.73073 23.2633 3.5605C23.0164 3.51698 22.7659 3.49709 22.5152 3.50108C20.5055 3.50108 18.4952 3.50108 16.4845 3.50108C16.4188 3.51018 16.352 3.49633 16.2955 3.46192C16.239 3.4275 16.1963 3.37465 16.1748 3.31243C15.7544 2.39441 15.319 1.48234 14.8896 0.568775C14.8597 0.506386 14.8328 0.441025 14.7969 0.357839C14.8732 0.357839 14.93 0.347441 14.9869 0.347441C17.5123 0.347441 20.0362 0.347441 22.5616 0.347441C24.1419 0.333253 25.6768 0.872521 26.8964 1.87049C28.116 2.86845 28.9424 4.26127 29.2303 5.80419C29.5182 7.34712 29.2493 8.94144 28.4708 10.307C27.6922 11.6726 26.4538 12.722 24.9733 13.271L24.7908 13.3438C25.9637 15.9097 27.1331 18.4671 28.2991 21.0162L24.2716 20.9998Z" fill="white" />
                    <path d="M46.0307 21C46.02 20.9296 46.013 20.8587 46.0098 20.7875C46.0098 16.8738 46.0098 12.9621 46.0098 9.05238C46.0098 8.99445 46.0172 8.93652 46.0217 8.8667H61.3836V12.5031H49.6931V21H46.0307Z" fill="white" />
                    <path d="M30.6278 21C30.3475 20.3781 30.0673 19.7562 29.787 19.1342C29.5386 18.5876 29.2873 18.0424 29.0389 17.5002C29.0165 17.4542 29 17.4052 28.9746 17.3428H43.9355V20.8247C43.9355 20.8841 43.9355 20.9435 43.9445 21.003L30.6278 21Z" fill="white" />
                    <path d="M61.3542 0.347656V3.99298H61.1597C51.1858 3.99298 41.2118 3.99298 31.2379 3.99298C31.1808 4.00146 31.1226 3.98806 31.0751 3.95552C31.0276 3.92297 30.9943 3.8737 30.982 3.8177C30.5125 2.55516 29.7676 1.41129 28.8007 0.467979C28.7678 0.435299 28.7364 0.401133 28.6855 0.347656H61.3542Z" fill="white" />
                    <path d="M43.9307 8.85633V12.4957H29.7402C29.7601 12.4569 29.7821 12.4192 29.8061 12.3828C30.5457 11.3713 31.0677 10.2195 31.3396 8.99894C31.3665 8.88159 31.4069 8.85039 31.5266 8.85039C35.6159 8.85039 39.7082 8.85039 43.8035 8.85039C43.8349 8.84891 43.8738 8.85336 43.9307 8.85633Z" fill="white" />
                </g>
                <defs>
                    <clipPath id="clip0_465_3396">
                        <rect width="61.3846" height="21" fill="white" />
                    </clipPath>
                </defs>
            </svg>

        </div>

        <div class="flex items-center justify-center my-7 gap-2">
            <p class="text-[10px] text-[#828282] leading-[22px] text-center">
                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله
                در س
            </p>
        </div>
    </div>
</aside>
