@model List<Domain.ViewModels.SiteSide.Home.LatestCategoriesWithImage>

<section class="w-full my-36">
    <div class="max-w-[99%] lg:max-w-[86.5em] px-2 lg:px-0 h-[110vh] lg:h-auto mx-auto grid grid-rows-3 grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-2 lg:gap-4"
         dir="ltr">

        <div class="transition-all h-44 lg:h-auto col-span-2 md:col-span-2 lg:col-span-2 row-span-1 bg-slate-300 relative landingGridItem">
            <img class="w-full h-full object-cover"
                 src="/ArefSet/src/assets/images/landing/image 1 1.png"
                 alt="" />
            <div class="absolute top-0 left-0 right-0 bottom-0 transition-all bg-[#252525] opacity-0 flex flex-col justify-center items-center">
                <p class="text-[#fff] text-[20px] lg:text-[24px] font-normal">مردانه</p>
                <button class="my-3 mt-6 text-[14px] lg:text-[18px] hover:bg-[#ffff] border-[1px] border-[#fff] hover:border-[#fff] transition-all duration-300 transform ease-linear focus:outline-none bg-transparent px-4 py-2 lg:px-7 lg:py-3 flex items-center text-[#fff] hover:text-[#252525]">
                    <img class="me-3"
                         src="/ArefSet/src/assets/images/landing/arrow-left.png"
                         alt="" />
                    رفتن به فروشگاه
                </button>
            </div>
        </div>

        <div class="transition-all relative landingGridItem col-span-2 md:col-span-2 lg:col-span-1 row-span-3 bg-slate-400">
            <img class="w-full h-full object-cover" src="/ArefSet/src/assets/images/landing/Rectangle 7.png" alt="" />
                 
                 
            <div class="absolute top-0 left-0 right-0 bottom-0 transition-all bg-[#252525] opacity-0 flex flex-col justify-center items-center">
                <p class="text-[#fff] text-[24px] font-normal">مردانه</p>
                <button class="my-3 mt-6 hover:bg-[#ffff] border-[1px] border-[#fff] hover:border-[#fff] transition-all duration-300 transform ease-linear focus:outline-none bg-transparent px-7 py-3 flex items-center text-[#fff] hover:text-[#252525]">
                    <img class="me-3" src="/ArefSet/src/assets/images/landing/arrow-left.png" alt="" />رفتن به فروشگاه
                </button>
            </div>
        </div>

        <div class="transition-all h-44 lg:h-auto relative landingGridItem col-span-1 md:col-span-1 lg:col-span-1 row-span-1 lg:row-span-2 bg-slate-500">
            <img class="w-full h-full object-cover"
                 src="/ArefSet/src/assets/images/landing/banner-6 1.png"
                 alt="" />
            <div class="absolute top-0 left-0 right-0 bottom-0 transition-all bg-[#252525] opacity-0 flex flex-col justify-center items-center">
                <p class="text-[#fff] text-[20px] lg:text-[24px] font-normal">مردانه</p>
                <button class="my-3 mt-6 text-[14px] lg:text-[18px] hover:bg-[#ffff] border-[1px] border-[#fff] hover:border-[#fff] transition-all duration-300 transform ease-linear focus:outline-none bg-transparent px-4 py-2 lg:px-7 lg:py-3 flex items-center text-[#fff] hover:text-[#252525]">
                    <img class="me-3"
                         src="/ArefSet/src/assets/images/landing/arrow-left.png"
                         alt="" />
                    رفتن به فروشگاه
                </button>
            </div>
        </div>

        <div class="transition-all h-44 lg:h-auto relative landingGridItem col-span-1 md:col-span-1 lg:col-span-1 row-span-1 lg:row-span-2 bg-slate-600">
            <img class="w-full h-full object-cover"
                 src="/ArefSet/src/assets/images/landing/banner-5 1.png"
                 alt="" />
            <div class="absolute top-0 left-0 right-0 bottom-0 transition-all bg-[#252525] opacity-0 flex flex-col justify-center items-center">
                <p class="text-[#fff] text-[20px] lg:text-[24px] font-normal">مردانه</p>
                <button class="my-3 mt-6 text-[14px] lg:text-[18px] hover:bg-[#ffff] border-[1px] border-[#fff] hover:border-[#fff] transition-all duration-300 transform ease-linear focus:outline-none bg-transparent px-4 py-2 lg:px-7 lg:py-3 flex items-center text-[#fff] hover:text-[#252525]">
                    <img class="me-3"
                         src="/ArefSet/src/assets/images/landing/arrow-left.png"
                         alt="" />
                    رفتن به فروشگاه
                </button>
            </div>
        </div>

    </div>


</section>
