@model Domain.ViewModels.SiteSide.Home.IndexPageViewModel
@using Domain.Models.AboutUs;

@{
    ViewData["Title"] = "درباره ی ما ";

    var aboutUs = ViewData["AboutUs"] as AboutUs;
}


<main class="mx-auto">
    <section class="mx-auto lg:mt-5 mt-5 px-5 lg:px-0 max-w-[99%] lg:max-w-[86.5em]">
        <nav class="flex" aria-label="Breadcrumb">
            <ol class="inline-flex items-center space-x-1 md:space-x-3">
                <li class="inline-flex items-center">
                    <a href="/" class="inline-flex items-center text-[13px] lg:text-sm font-medium text-[#A8A8A8] hover:text-[#252525] dark:text-gray-400 dark:hover:text-white">
                        @*<svg aria-hidden="true" class="w-4 h-4 ml-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"></path>
                        </svg>*@
                        <svg width="20" class="w-4 h-4 ml-2 text-[#A8A8A8] hover:text-[#252525]" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10 15V12.5" stroke="#A8A8A8" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M8.39172 2.35004L2.61672 6.97504C1.96672 7.4917 1.55006 8.58337 1.69172 9.40004L2.80006 16.0334C3.00006 17.2167 4.13339 18.175 5.33339 18.175H14.6667C15.8584 18.175 17.0001 17.2084 17.2001 16.0334L18.3084 9.40004C18.4417 8.58337 18.0251 7.4917 17.3834 6.97504L11.6084 2.35837C10.7167 1.6417 9.27506 1.6417 8.39172 2.35004Z" stroke="#A8A8A8" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                        خانه
                    </a>
                </li>

                <li aria-current="page">
                    <div class="flex items-center">
                        <svg aria-hidden="true" class="w-6 h-6 text-gray-400 transform rotate-180" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path>
                        </svg>
                        <span class="mr-1 text-sm font-medium text-[#252525] md:mr-2 dark:text-gray-400">فروشگاه لیست عارف</span>
                    </div>
                </li>
            </ol>
        </nav>
    </section>

    <section class="mx-auto mt-0 px-5 lg:px-0 max-w-[99%] lg:max-w-[86.5em] mb-7">
        <div class="flex flex-col items-center justify-start mb-5">
            <div class="mt-16 relative w-[212.34px] h-[72.24px] md:w-[300px] md:h-[90px] lg:w-[388px] lg:h-[132px] bg-no-repeat before:content-[''] before:absolute before:-left-[60px] lg:before:-left-[100px] before:top-[41%] before:w-[52px] lg:before:w-[91px] before:h-[2px] before:bg-[#D92626] after:content-[''] after:absolute after:-right-[60px] lg:after:-right-[100px] after:top-[41%] after:w-[52px] lg:after:w-[91px] after:h-[2px] after:bg-[#D92626]" style="
              background-image: url(/ArefSet/src/assets/images/landing/Arefset\ 2.png);
              background-position: center;
              background-size: cover;
            ">
               <div class="flex items-center gap-1" >
                    <h3 class="text-[#252525] text-[32px] mt-2 lg:mt-7 text-center" style="font-family: yekanBakhtExtraBold">
                        درباره 
                    </h3>
                    <img class="lg:w-[98px] md:w-[80px] w-[73px] z-50" src="/ArefSet/src/assets/images/landing/Arefset 1.png" alt="">
               </div> 
                <h3 class="text-[#7E8285] font-medium text-[17px] md:text-[25px] lg:text-[30px] leading-[49.6px] text-center" style="font-family: yekanBakhtRegular">
                    About Aref
                </h3>
            </div>
        </div>
    </section>

    <section class="w-full my-14 mb-20">
        <div class="px-7 lg:px-0 max-w-[99%] lg:max-w-[86.5em] mx-auto">
            <div class="flex items-center gap-1">
                <h3 class="lg:text-[22px] md:text-[22px] mb-2 text-[18px] text-[#252525] leading-[34.1px]" style="font-family: yekanBakhtSemiBold">
                    داستان 
                </h3>
                <img class="lg:w-[98px] md:w-[80px] w-[73px] z-50" src="/ArefSet/src/assets/images/landing/Arefset 1.png" alt="">
            </div>
            @if (aboutUs != null && !string.IsNullOrEmpty(aboutUs.Message1))
            {
            <p class="text-[16px] text-[#7E8285] leading-[28px] lg:pl-8 md:leading-[39px]  lg:leading-[39px] text-[#7E8285] " style="font-family: yekanBakhtSemiBold; text-align:justify">
               
                    @aboutUs.Message1

            </p>   
                }
        </div>
    </section>

    <section class="mx-auto lg:mt-0 px-5 mt-6 mb-20 w-full pb-5 lg:pb-0 bg-[#252525]">
        <div class="mx-auto mt-0 pt-5 lg:pt-0 px-5 lg:px-0 max-w-[99%] lg:max-w-[86.5em] min-h-screen mb-7 bg-[#252525] grid grid-cols-1 md:grid-cols-1 lg:grid-cols-2 gap-2">
            <div class="col-span-2 md:col-span-2 lg:col-span-1 flex flex-col items-start justify-center">
                <div class="flex items-center gap-1">
                    <h3 class="lg:text-[22px] md:text-[22px] mb-2 text-[18px] text-[#fcfcfc] leading-[34.1px]" style="font-family: yekanBakhtSemiBold">
                        ماموریت  
                    </h3>
                    <img class="lg:w-[98px] md:w-[80px] w-[73px] z-50" src="/ArefSet/src/assets/images/landing/Arefset foo.png" alt="">
                    <h3 class="lg:text-[22px] md:text-[22px] mb-2 text-[18px] text-[#fcfcfc] leading-[34.1px]" style="font-family: yekanBakhtSemiBold">
                          چیست
                    </h3>
                </div>

                @if (aboutUs != null && !string.IsNullOrEmpty(aboutUs.Message2))
                {                 
                <p class="text-[16px] text-[#7E8285] leading-[28px] lg:pl-8 md:leading-[39px]  lg:leading-[39px] " style="font-family: yekanBakhtSemiBold; text-align:justify">
                        @aboutUs.Message2
                    </p>   
                }
            </div>
            <div class="col-span-2 md:col-span-2 lg:col-span-1 flex justify-center items-center min-h-[330px] lg:h-auto">
                <div class="relative w-[287.21px] md:w-[400px] lg:w-[537px] h-[217.68px] md:h-[330px] lg:h-[407px] before:content-[''] before:absolute before:-top-[27px] before:-left-[27px] before:-z-[1000px] lg:before:-left-[37px] lg:before:-top-[37px] before:border-[1px] before:border-[#B7B7B7] before:w-[160.45px] before:h-[231.59px] lg:before:w-[300px] lg:before:h-[433px] before:bg-transparent after:content-[''] after:absolute after:-bottom-[27px] after:-right-[27px] after:-z-[1000px] lg:after:-right-[37px] lg:after:-bottom-[37px] after:border-[1px] after:border-[#B7B7B7] after:w-[160.45px] after:h-[160.99px] lg:after:w-[300px] lg:after:h-[301px] after:bg-transparent">
                    <div class="w-[287.21px] md:w-[400px] lg:w-[537px] h-[217.68px] md:h-[330px] lg:h-[407px] absolute bg-gray-300 z-50">
                        <img class="w-full h-full object-cover z-50" src="/ArefSet/src/assets/images/about/photo_2024-03-08_12-32-04.jpg" alt="about item">
                    </div>
                </div>
            </div>
        </div>
    </section>

    @*Lastest Users Comments*@
    <partial name="_LastestUsersComments" model="Model.UsersComments" />

    <section class="w-full bg-no-repeat">
        <div class="max-w-[99%] lg:max-w-[86.5em] mx-auto lg:flex overflow-hidden h-[320px] lg:h-[400px]">
            <div class="w-full md:w-full lg:w-[40vw] flex flex-col items-center justify-center md:flex md:flex-col md:items-center md:justify-center lg:flex lg:flex-col lg:items-start lg:justify-center">
                <p class="text-[20px] md:text-[30px] lg:text-[40px] items-center lg:leading-[62px] w-[167px] lg:w-auto" style="font-family: yekanBakhtSemiBold">
                    در
                    <strong style="font-family: yekanBakhtExtraBold">
                        اینستاگرام
                    </strong> ما را دنبال کنید
                </p>
                <a href="https://instagram.com/aref.set" class="w-[167px] text-center inline-block md:w-[210px] lg:w-[333px] mt-4 bg-[#252525] text-[#fff] py-3 text-[14px] md:text-[16px] lg:text-[18px]">
                    Follow Us
                </a>
            </div>
            <div class="w-full md:w-full lg:w-[60vw] lg:flex h-full">
                <div class="w-full md:w-full lg:w-[20vw] flex items-center justify-end lg:flex lg:items-center lg:justify-center">
                    <img class="lg:w-[114px] w-[39.26px] transform -rotate-[60deg] md:-rotate-90 lg:rotate-0 ml-14" src="/ArefSet/src/assets/images/landing/Asset 1 1.png" alt="">
                </div>
                <div class="w-full md:w-full lg:w-[80vw] lg:overflow-hidden relative flex items-center justify-center lg:flex lg:items-center lg:justify-center">
                    <img class="w-[183.19px] lg:w-[532px] absolute top-0" src="/ArefSet/src/assets/images/landing/phone_14_01 1.png" alt="">
                </div>
            </div>
        </div>
    </section>

    <!-- <section class="w-full mt-20">
      <div
        class="px-3 lg:px-0 max-w-[99%] lg:max-w-[86.5em] mx-auto grid grid-cols-1 md:grid-cols-1 lg:grid-cols-2"
      >
        <div class="col-span-2 md:col-span-2 lg:col-span-1">
          <p
            class="text-[22px] text-[#252525] leading-[34.1px]"
            style="font-family: yekanBakhtSemiBold"
          >
            اطلاعات تماس
          </p>
          <p
            class="text-[16px] text-[#7E8285] leading-[39px]"
            style="font-family: yekanBakhtSemiBold"
          >
            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم، لورم ایپسوم متن
            ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید
            سادگی نامفهوم.
          </p>
          <div
            class="mx-auto grid grid-cols-1 md:grid-cols-1 lg:grid-cols-2 mt-5"
          ></div>
        </div>
        <div class="col-span-2 md:col-span-2 lg:col-span-1">
          <p
            class="text-[22px] text-[#252525] leading-[34.1px]"
            style="font-family: yekanBakhtSemiBold"
          >
            اطلاعات تماس
          </p>
          <p
            class="text-[16px] text-[#7E8285] leading-[39px]"
            style="font-family: yekanBakhtSemiBold"
          >
            با استفاده از فرم زیر میتوانید با ما ارتباط برقرار کنید
          </p>
        </div>
      </div>
    </section> -->
</main>