@model Domain.ViewModels.SiteSide.ContactUs.ContactUsSiteSideViewModel

@{
    ViewData["Title"] = "خانه ";
}


<main class="mx-auto">
    <section class="mx-auto lg:mt-5 mt-5 px-5 lg:px-0 max-w-[99%] lg:max-w-[86.5em]">
        <nav class="flex" aria-label="Breadcrumb">
            <ol class="inline-flex items-center space-x-1 md:space-x-3">
                <li class="inline-flex items-center">
                    <a href="#" class="inline-flex items-center text-sm font-medium text-[#A8A8A8] hover:text-[#252525] dark:text-gray-400 dark:hover:text-white">
                        <svg aria-hidden="true" class="w-4 h-4 ml-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"></path>
                        </svg>
                        خانه
                    </a>
                </li>

                <li aria-current="page">
                    <div class="flex items-center">
                        <svg aria-hidden="true" class="w-6 h-6 text-gray-400 transform rotate-180" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path>
                        </svg>
                        <span class="mr-1 text-sm font-medium text-text-[#252525] md:mr-2 dark:text-gray-400">تماس با ما</span>
                    </div>
                </li>
            </ol>
        </nav>
    </section>

    <section class="mx-auto mt-0 px-5 lg:px-0 max-w-[99%] lg:max-w-[86.5em] mb-7">
        <div class="flex flex-col items-center justify-start mb-5">
            <div class="mt-16 relative w-[212.34px] h-[72.24px] md:w-[300px] md:h-[90px] lg:w-[388px] lg:h-[132px] bg-no-repeat before:content-[''] before:absolute before:-left-[60px] lg:before:-left-[100px] before:top-[41%] before:w-[52px] lg:before:w-[91px] before:h-[2px] before:bg-[#D92626] after:content-[''] after:absolute after:-right-[60px] lg:after:-right-[100px] after:top-[41%] after:w-[52px] lg:after:w-[91px] after:h-[2px] after:bg-[#D92626]" style="
              background-image: url(ArefSet/src/assets/images/landing/Arefset\ 2.png);
              background-position: center;
              background-size: cover;
            ">
                <p class="text-[#252525] text-[32px] mt-2 lg:mt-7 text-center" style="font-family: yekanBakhtExtraBold">
                    تماس باما
                </p>
                <p class="text-[#7E8285] font-medium text-[17px] md:text-[25px] lg:text-[30px] leading-[49.6px] text-center" style="font-family: yekanBakhtRegular">
                    ارتباط خود را باما حفظ کنید
                </p>
            </div>
        </div>
    </section>

    <section class="w-full mt-14">
        <div class="px-3 lg:px-0 max-w-[99%] lg:max-w-[86.5em] mx-auto grid grid-cols-1 md:grid-cols-1 lg:grid-cols-2">
            <div class="col-span-2 md:col-span-2 lg:col-span-1">
                <p class="text-[22px] text-[#252525] leading-[34.1px]" style="font-family: yekanBakhtSemiBold">
                    اطلاعات تماس
                </p>
                <p class="text-[16px] text-[#7E8285] leading-[39px]" style="font-family: yekanBakhtSemiBold">
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم، لورم ایپسوم متن
                    ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید
                    سادگی نامفهوم.
                </p>
                <div class="mx-auto grid grid-cols-1 md:grid-cols-1 lg:grid-cols-2 mt-5">
                    <ul class="mb-3">
                        <li class="mb-5 text-[16px] text-[#252525] leading-[24.8px]">
                            تولیدی
                        </li>
                        <li class="mb-5 flex items-center gap-2 text-[16px] text-[#7E8285] leading-[22px]">
                            <img class="w-[20px]" src="ArefSet/src/assets/images/landing/locationn.png" alt="">
                            تهران، خیابان انقلاب
                        </li>
                        <li class="mb-5 flex items-center gap-2 text-[16px] text-[#7E8285] leading-[22px]">
                            <img class="w-[20px]" src="ArefSet/src/assets/images/landing/call-incoming-black.png" alt="">
                            09114119225
                        </li>
                        <li class="mb-5 flex items-center gap-2 text-[16px] text-[#7E8285] leading-[22px]">
                            <img class="w-[20px]" src="ArefSet/src/assets/images/landing/sms-black.png" alt="">
                            info@arefset.ir
                        </li>
                    </ul>

                    <ul class="mb-3">
                        <li class="mb-5 text-[16px] text-[#252525] leading-[24.8px]">
                            ساعت کاری
                        </li>
                        <li class="mb-5 flex items-center gap-2 text-[16px] text-[#7E8285] leading-[22px]">
                            <img class="w-[20px]" src="ArefSet/src/assets/images/landing/clock.png" alt="">
                            شنبه تا چهارشنبه 10 صبح تا 6 عصر
                        </li>
                        <li class="mb-5 flex items-center gap-2 text-[16px] text-[#7E8285] leading-[22px]">
                            <img class="w-[20px]" src="ArefSet/src/assets/images/landing/calendar.png" alt="">
                            پنجشنبه 10 صبح تا 2 عصر
                        </li>
                    </ul>

                    <ul class="mb-3">
                        <li class="mb-5 text-[16px] text-[#252525] leading-[24.8px]">
                            فروشگاه
                        </li>
                        <li class="mb-5 flex items-center gap-2 text-[16px] text-[#7E8285] leading-[22px]">
                            <img class="w-[20px]" src="ArefSet/src/assets/images/landing/locationn.png" alt="">
                            ساری، میدان خزر
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-span-2 md:col-span-2 lg:col-span-1">
                <p class="text-[22px] text-[#252525] leading-[34.1px]" style="font-family: yekanBakhtSemiBold">
                    اطلاعات تماس
                </p>
                <p class="text-[16px] text-[#7E8285] leading-[39px]" style="font-family: yekanBakhtSemiBold">
                    با استفاده از فرم زیر میتوانید با ما ارتباط برقرار کنید
                </p>

                <div class="flex items-center justify-start py-12">
                    <!-- Author: FormBold Team -->
                    <!-- Learn More: https://formbold.com -->
                    <div class="mx-auto w-full">
                        <form asp-action="ContactUs" asp-area="" asp-controller="Home" method="POST">
                            <div class="-mx-3 flex flex-wrap">
                                <div class="w-full px-3 sm:w-1/2">
                                    <div class="mb-5">
                                        <!-- <label
                                          for="fName"
                                          class="mb-3 block text-base font-medium text-[#07074D]"
                                        >
                                          First Name
                                        </label> -->
                                        <input type="text" asp-for="UserName" id="fName" placeholder="نام نام خانوادگی" class="w-full border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md">
                                    </div>
                                </div>

                                <div class="w-full px-3 sm:w-1/2">
                                    <div class="mb-5">
                                        <!-- <label
                                          for="lName"
                                          class="mb-3 block text-base font-medium text-[#07074D]"
                                        >
                                          Last Name
                                        </label> -->
                                        <input type="email" asp-for="Email" id="lName" placeholder="ایمیل خود را وارد کنید" class="w-full border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md">
                                    </div>
                                </div>

                                <div class="w-full px-3 sm:w-1/2">
                                    <div class="mb-5">
                                        <!-- <label
                                            for="fName"
                                            class="mb-3 block text-base font-medium text-[#07074D]"
                                          >
                                            First Name
                                          </label> -->
                                        <input type="text" asp-for="PhoneNumber" id="phoneNumber" placeholder="شماره مبایل خود را وارد کنید " class="w-full border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md">
                                    </div>
                                </div>

                                <div class="w-full px-3 sm:w-1/2">
                                    <div class="mb-5">
                                        <!-- <label
                                            for="lName"
                                            class="mb-3 block text-base font-medium text-[#07074D]"
                                          >
                                            Last Name
                                          </label> -->
                                        <input type="text" asp-for="ShortDescription" id="subject" placeholder="موضوع پیام شما" class="w-full border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md">
                                    </div>
                                </div>
                            </div>
                            <div class="mb-5">
                                <!-- <label
                                  for="guest"
                                  class="mb-3 block text-base font-medium text-[#07074D]"
                                >
                                  How many guest are you bringing?
                                </label> -->
                                <textarea asp-for="LongDescription" id="guest" rows="3" class="w-full appearance-none border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" placeholder="متن پیام شما"></textarea>
                            </div>

                            <div class="flex justify-end">
                                <button class="hover:shadow-form border-[1px] border-[#D92626] py-3 px-8 text-center text-base font-semibold text-[#D92626] outline-none flex items-center gap-2">
                                    ارسال پیام
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M15.0898 19.9201L8.56984 13.4001C7.79984 12.6301 7.79984 11.3701 8.56984 10.6001L15.0898 4.08008" stroke="#D92626" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                                    </svg>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="mx-auto mt-0 px-5 lg:px-0 max-w-[99%] lg:max-w-[86.5em] mb-7 border-t-2">
        <div id="map" class="w-full h-[353px] my-14 leaflet-container leaflet-touch leaflet-retina leaflet-fade-anim leaflet-grab leaflet-touch-drag leaflet-touch-zoom" tabindex="0" style="position: relative;">
            <!-- <img
              class="w-full h-full object-cover"
              src="ArefSet/src/assets/images/landing/image 6.png"
              alt=""
            /> -->
            <div class="leaflet-pane leaflet-map-pane" style="transform: translate3d(0px, 0px, 0px);"><div class="leaflet-pane leaflet-tile-pane"><div class="leaflet-layer " style="z-index: 1; opacity: 1;"><div class="leaflet-tile-container leaflet-zoom-animated" style="z-index: 19; transform: translate3d(0px, 0px, 0px) scale(1);"><img alt="" src="https://tile.openstreetmap.org/17/84846/51218.png" class="leaflet-tile leaflet-tile-loaded" style="width: 256px; height: 256px; transform: translate3d(451px, -17px, 0px); opacity: 1;"><img alt="" src="https://tile.openstreetmap.org/17/84847/51218.png" class="leaflet-tile leaflet-tile-loaded" style="width: 256px; height: 256px; transform: translate3d(707px, -17px, 0px); opacity: 1;"><img alt="" src="https://tile.openstreetmap.org/17/84846/51219.png" class="leaflet-tile leaflet-tile-loaded" style="width: 256px; height: 256px; transform: translate3d(451px, 239px, 0px); opacity: 1;"><img alt="" src="https://tile.openstreetmap.org/17/84847/51219.png" class="leaflet-tile leaflet-tile-loaded" style="width: 256px; height: 256px; transform: translate3d(707px, 239px, 0px); opacity: 1;"><img alt="" src="https://tile.openstreetmap.org/17/84845/51218.png" class="leaflet-tile leaflet-tile-loaded" style="width: 256px; height: 256px; transform: translate3d(195px, -17px, 0px); opacity: 1;"><img alt="" src="https://tile.openstreetmap.org/17/84848/51218.png" class="leaflet-tile leaflet-tile-loaded" style="width: 256px; height: 256px; transform: translate3d(963px, -17px, 0px); opacity: 1;"><img alt="" src="https://tile.openstreetmap.org/17/84845/51219.png" class="leaflet-tile leaflet-tile-loaded" style="width: 256px; height: 256px; transform: translate3d(195px, 239px, 0px); opacity: 1;"><img alt="" src="https://tile.openstreetmap.org/17/84848/51219.png" class="leaflet-tile leaflet-tile-loaded" style="width: 256px; height: 256px; transform: translate3d(963px, 239px, 0px); opacity: 1;"><img alt="" src="https://tile.openstreetmap.org/17/84844/51218.png" class="leaflet-tile leaflet-tile-loaded" style="width: 256px; height: 256px; transform: translate3d(-61px, -17px, 0px); opacity: 1;"><img alt="" src="https://tile.openstreetmap.org/17/84849/51218.png" class="leaflet-tile leaflet-tile-loaded" style="width: 256px; height: 256px; transform: translate3d(1219px, -17px, 0px); opacity: 1;"><img alt="" src="https://tile.openstreetmap.org/17/84844/51219.png" class="leaflet-tile leaflet-tile-loaded" style="width: 256px; height: 256px; transform: translate3d(-61px, 239px, 0px); opacity: 1;"><img alt="" src="https://tile.openstreetmap.org/17/84849/51219.png" class="leaflet-tile leaflet-tile-loaded" style="width: 256px; height: 256px; transform: translate3d(1219px, 239px, 0px); opacity: 1;"></div></div></div><div class="leaflet-pane leaflet-overlay-pane"></div><div class="leaflet-pane leaflet-shadow-pane"><img src="https://unpkg.com/leaflet@1.9.4/dist/images/marker-shadow.png" class="leaflet-marker-shadow leaflet-zoom-animated" alt="" style="margin-left: -12px; margin-top: -41px; width: 41px; height: 41px; transform: translate3d(692px, 177px, 0px);"></div><div class="leaflet-pane leaflet-marker-pane"><img src="https://unpkg.com/leaflet@1.9.4/dist/images/marker-icon-2x.png" class="leaflet-marker-icon leaflet-zoom-animated leaflet-interactive" alt="Marker" tabindex="0" role="button" style="margin-left: -12px; margin-top: -41px; width: 25px; height: 41px; transform: translate3d(692px, 177px, 0px); z-index: 177;"></div><div class="leaflet-pane leaflet-tooltip-pane"></div><div class="leaflet-pane leaflet-popup-pane"></div><div class="leaflet-proxy leaflet-zoom-animated" style="transform: translate3d(2.17208e+07px, 1.3112e+07px, 0px) scale(65536);"></div></div><div class="leaflet-control-container"><div class="leaflet-top leaflet-left"><div class="leaflet-control-zoom leaflet-bar leaflet-control"><a class="leaflet-control-zoom-in" href="#" title="Zoom in" role="button" aria-label="Zoom in" aria-disabled="false"><span aria-hidden="true">+</span></a><a class="leaflet-control-zoom-out" href="#" title="Zoom out" role="button" aria-label="Zoom out" aria-disabled="false"><span aria-hidden="true">−</span></a></div></div><div class="leaflet-top leaflet-right"></div><div class="leaflet-bottom leaflet-left"></div><div class="leaflet-bottom leaflet-right"><div class="leaflet-control-attribution leaflet-control"><a href="https://leafletjs.com" title="A JavaScript library for interactive maps"><svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="12" height="8" viewBox="0 0 12 8" class="leaflet-attribution-flag"><path fill="#4C7BE1" d="M0 0h12v4H0z"></path><path fill="#FFD500" d="M0 4h12v3H0z"></path><path fill="#E0BC00" d="M0 7h12v1H0z"></path></svg> Leaflet</a> <span aria-hidden="true">|</span> © <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a></div></div></div>
        </div>
    </section>
</main>