@model Domain.ViewModels.SiteSide.ContactUs.ContactUsSiteSideViewModel

@{
    ViewData["Title"] = "خانه ";
}
@section Styles{

    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
            crossorigin=""></script>
    <!-- leaflet -->
    <link rel="stylesheet"
          href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
          integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
          crossorigin="" />
    <!-- Make sure you put this AFTER Leaflet's CSS -->
}
@section Scripts{
    <script>
        var map = L.map("map").setView([36.55652, 53.03909], 17);
        L.tileLayer("https://tile.openstreetmap.org/{z}/{x}/{y}.png", {
            maxZoom: 19,
            attribution:
                '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
        }).addTo(map);
        var marker = L.marker([36.55652, 53.03909]).addTo(map);
        //function loadedPage() {
        //    // alert("Page is loaded");
        //    document.querySelector(".leaflet-control-attribution").remove();
        //}
      
    </script>
}

<main class="mx-auto" style="margin-bottom: 100px;">
    <section class="mx-auto lg:mt-5 mt-5 px-5 lg:px-0 max-w-[99%] lg:max-w-[86.5em]">
        <nav class="flex" aria-label="Breadcrumb">
            <ol class="inline-flex items-center space-x-1 md:space-x-3">
                <li class="inline-flex items-center">
                    <a href="#" class="inline-flex items-center text-sm font-medium text-[#A8A8A8] hover:text-[#252525] dark:text-gray-400 dark:hover:text-white">
                        <svg aria-hidden="true" class="w-4 h-4 ml-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"></path>
                        </svg>
                        خانه
                    </a>
                </li>

                <li aria-current="page">
                    <div class="flex items-center">
                        <svg aria-hidden="true" class="w-6 h-6 text-gray-400 transform rotate-180" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path>
                        </svg>
                        <span class="mr-1 text-sm font-medium text-text-[#252525] md:mr-2 dark:text-gray-400">تماس با ما</span>
                    </div>
                </li>
            </ol>
        </nav>
    </section>

    <section class="mx-auto mt-0 px-5 lg:px-0 max-w-[99%] lg:max-w-[86.5em] mb-7">
        <div class="flex flex-col items-center justify-start mb-5">
            <div class="mt-16 relative w-[212.34px] h-[72.24px] md:w-[300px] md:h-[90px] lg:w-[388px] lg:h-[132px] bg-no-repeat before:content-[''] before:absolute before:-left-[60px] lg:before:-left-[100px] before:top-[41%] before:w-[52px] lg:before:w-[91px] before:h-[2px] before:bg-[#D92626] after:content-[''] after:absolute after:-right-[60px] lg:after:-right-[100px] after:top-[41%] after:w-[52px] lg:after:w-[91px] after:h-[2px] after:bg-[#D92626]" style="
              background-image: url(/ArefSet/src/assets/images/landing/Arefset\ 2.png);
              background-position: center;
              background-size: cover;
            ">
                <p class="text-[#252525] text-[32px] mt-2 lg:mt-7 text-center" style="font-family: yekanBakhtExtraBold">
                    تماس باما
                </p>
                <p class="text-[#7E8285] font-medium text-[17px] md:text-[20px] lg:text-[22px] leading-[49.6px] text-center" style="font-family: yekanBakhtRegular">
                    ارتباط خود را باما حفظ کنید
                </p>
            </div>
        </div>
    </section>

    <section class="w-full mt-14">
        <div class="px-3 lg:px-0 max-w-[99%] lg:max-w-[86.5em] mx-auto grid grid-cols-1 md:grid-cols-1 lg:grid-cols-2">
            <div class="col-span-2 md:col-span-2 lg:col-span-1">
                <p class="text-[22px] text-[#252525] leading-[34.1px]" style="font-family: yekanBakhtSemiBold">
                    اطلاعات تماس
                </p>
                <p class="text-[16px] text-[#7E8285] leading-[39px]" style="font-family: yekanBakhtSemiBold">
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم، لورم ایپسوم متن
                    ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید
                    سادگی نامفهوم.
                </p>
                <div class="mx-auto grid grid-cols-1 md:grid-cols-1 lg:grid-cols-2 mt-5">
                    <ul class="mb-3">
                        <li class="mb-5 text-[16px] text-[#252525] leading-[24.8px]">
                            تولیدی
                        </li>
                        <li class="mb-5 flex items-center gap-2 text-[16px] text-[#7E8285] leading-[22px]">
                          @*  <img class="w-[20px]" src="/ArefSet/src/assets/images/landing/locationn.png" alt="location">*@
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M10.0004 11.1917C11.4363 11.1917 12.6004 10.0276 12.6004 8.5917C12.6004 7.15576 11.4363 5.9917 10.0004 5.9917C8.56445 5.9917 7.40039 7.15576 7.40039 8.5917C7.40039 10.0276 8.56445 11.1917 10.0004 11.1917Z" stroke="#252525" stroke-width="1.5" />
                                <path d="M3.01675 7.07508C4.65842 -0.141583 15.3501 -0.13325 16.9834 7.08342C17.9418 11.3167 15.3084 14.9001 13.0001 17.1168C11.3251 18.7334 8.67508 18.7334 6.99175 17.1168C4.69175 14.9001 2.05842 11.3084 3.01675 7.07508Z" stroke="#252525" stroke-width="1.5" />
                            </svg>
                            تهران، خیابان انقلاب
                        </li>
                        <li class="mb-5 flex items-center gap-2 text-[16px] text-[#7E8285] leading-[22px]">
                            @*<img class="w-[20px]" src="/ArefSet/src/assets/images/landing/call-incoming-black.png" alt="call">*@
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M18.3077 15.2751C18.3077 15.5751 18.241 15.8834 18.0993 16.1834C17.9577 16.4834 17.7744 16.7667 17.5327 17.0334C17.1244 17.4834 16.6743 17.8084 16.166 18.0167C15.666 18.2251 15.1244 18.3334 14.541 18.3334C13.691 18.3334 12.7827 18.1334 11.8243 17.7251C10.866 17.3167 9.90768 16.7667 8.95768 16.0751C7.99935 15.3751 7.09102 14.6001 6.22435 13.7417C5.36602 12.8751 4.59102 11.9667 3.89935 11.0167C3.21602 10.0667 2.66602 9.11675 2.26602 8.17508C1.86602 7.22508 1.66602 6.31675 1.66602 5.45008C1.66602 4.88341 1.76602 4.34175 1.96602 3.84175C2.16602 3.33341 2.48268 2.86675 2.92435 2.45008C3.45768 1.92508 4.04102 1.66675 4.65768 1.66675C4.89102 1.66675 5.12435 1.71675 5.33268 1.81675C5.54935 1.91675 5.74102 2.06675 5.89102 2.28341L7.82435 5.00841C7.97435 5.21675 8.08268 5.40841 8.15768 5.59175C8.23268 5.76675 8.27435 5.94175 8.27435 6.10008C8.27435 6.30008 8.21602 6.50008 8.09935 6.69175C7.99102 6.88341 7.83268 7.08341 7.63268 7.28341L6.99935 7.94175C6.90768 8.03341 6.86602 8.14175 6.86602 8.27508C6.86602 8.34175 6.87435 8.40008 6.89102 8.46675C6.91602 8.53341 6.94102 8.58341 6.95768 8.63341C7.10768 8.90841 7.36602 9.26675 7.73268 9.70008C8.10768 10.1334 8.50768 10.5751 8.94102 11.0167C9.39102 11.4584 9.82435 11.8667 10.266 12.2417C10.6993 12.6084 11.0577 12.8584 11.341 13.0084C11.3827 13.0251 11.4327 13.0501 11.491 13.0751C11.5577 13.1001 11.6243 13.1084 11.6993 13.1084C11.841 13.1084 11.9493 13.0584 12.041 12.9667L12.6743 12.3417C12.8827 12.1334 13.0827 11.9751 13.2743 11.8751C13.466 11.7584 13.6577 11.7001 13.866 11.7001C14.0243 11.7001 14.191 11.7334 14.3743 11.8084C14.5577 11.8834 14.7494 11.9917 14.9577 12.1334L17.716 14.0917C17.9327 14.2417 18.0827 14.4167 18.1743 14.6251C18.2577 14.8334 18.3077 15.0417 18.3077 15.2751Z" stroke="#121212" stroke-width="1.5" stroke-miterlimit="10" />
                                <path d="M13.5 6.5H17.5M13.5 6.5V2.5V6.5Z" stroke="#121212" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>

                            09114119225
                        </li>
                        <li class="mb-5 flex items-center gap-2 text-[16px] text-[#7E8285] leading-[22px]">
                          @*  <img class="w-[20px]" src="/ArefSet/src/assets/images/landing/sms-black.png" alt="sms">*@
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M14.166 17.0834H5.83268C3.33268 17.0834 1.66602 15.8334 1.66602 12.9167V7.08341C1.66602 4.16675 3.33268 2.91675 5.83268 2.91675H14.166C16.666 2.91675 18.3327 4.16675 18.3327 7.08341V12.9167C18.3327 15.8334 16.666 17.0834 14.166 17.0834Z" stroke="#121212" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M14.1673 7.5L11.559 9.58333C10.7006 10.2667 9.29231 10.2667 8.43398 9.58333L5.83398 7.5" stroke="#121212" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>

                            info@arefset.ir
                        </li>
                    </ul>

                    <ul class="mb-3">
                        <li class="mb-5 text-[16px] text-[#252525] leading-[24.8px]">
                            ساعت کاری
                        </li>
                        <li class="mb-5 flex items-center gap-2 text-[16px] text-[#7E8285] leading-[22px]">
                          @*  <img class="w-[20px]" src="/ArefSet/src/assets/images/landing/clock.png" alt="">*@
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M18.3327 10.0001C18.3327 14.6001 14.5993 18.3334 9.99935 18.3334C5.39935 18.3334 1.66602 14.6001 1.66602 10.0001C1.66602 5.40008 5.39935 1.66675 9.99935 1.66675C14.5993 1.66675 18.3327 5.40008 18.3327 10.0001Z" stroke="#252525" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M13.0914 12.65L10.5081 11.1083C10.0581 10.8416 9.69141 10.2 9.69141 9.67497V6.2583" stroke="#252525" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>

                            شنبه تا چهارشنبه 10 صبح تا 6 عصر
                        </li>
                        <li class="mb-5 flex items-center gap-2 text-[16px] text-[#7E8285] leading-[22px]">
                           @* <img class="w-[20px]" src="/ArefSet/src/assets/images/landing/calendar.png" alt="">*@
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M6.66602 1.66675V4.16675" stroke="#252525" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M13.334 1.66675V4.16675" stroke="#252525" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M2.91602 7.57495H17.0827" stroke="#252525" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M17.5 7.08341V14.1667C17.5 16.6667 16.25 18.3334 13.3333 18.3334H6.66667C3.75 18.3334 2.5 16.6667 2.5 14.1667V7.08341C2.5 4.58341 3.75 2.91675 6.66667 2.91675H13.3333C16.25 2.91675 17.5 4.58341 17.5 7.08341Z" stroke="#252525" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M13.0781 11.4167H13.0856" stroke="#252525" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M13.0781 13.9167H13.0856" stroke="#252525" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M9.99607 11.4167H10.0036" stroke="#252525" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M9.99607 13.9167H10.0036" stroke="#252525" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M6.91209 11.4167H6.91957" stroke="#252525" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M6.91209 13.9167H6.91957" stroke="#252525" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                            پنجشنبه 10 صبح تا 2 عصر
                        </li>
                    </ul>

                    <ul class="mb-3">
                        <li class="mb-5 text-[16px] text-[#252525] leading-[24.8px]">
                            فروشگاه
                        </li>
                        <li class="mb-5 flex items-center gap-2 text-[16px] text-[#7E8285] leading-[22px]">
                            @*<img class="w-[20px]" src="/ArefSet/src/assets/images/landing/locationn.png" alt="location">*@
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M10.0004 11.1917C11.4363 11.1917 12.6004 10.0276 12.6004 8.5917C12.6004 7.15576 11.4363 5.9917 10.0004 5.9917C8.56445 5.9917 7.40039 7.15576 7.40039 8.5917C7.40039 10.0276 8.56445 11.1917 10.0004 11.1917Z" stroke="#252525" stroke-width="1.5" />
                                <path d="M3.01675 7.07508C4.65842 -0.141583 15.3501 -0.13325 16.9834 7.08342C17.9418 11.3167 15.3084 14.9001 13.0001 17.1168C11.3251 18.7334 8.67508 18.7334 6.99175 17.1168C4.69175 14.9001 2.05842 11.3084 3.01675 7.07508Z" stroke="#252525" stroke-width="1.5" />
                            </svg>
                            ساری، میدان خزر
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-span-2 md:col-span-2 lg:col-span-1">
                <p class="text-[22px] text-[#252525] leading-[34.1px]" style="font-family: yekanBakhtSemiBold">
                    اطلاعات تماس
                </p>
                <p class="text-[16px] text-[#7E8285] leading-[39px]" style="font-family: yekanBakhtSemiBold">
                    با استفاده از فرم زیر میتوانید با ما ارتباط برقرار کنید
                </p>

                <div class="flex items-center justify-start py-12">
                    <!-- Author: FormBold Team -->
                    <!-- Learn More: https://formbold.com -->
                    <div class="mx-auto w-full">
                        <form asp-action="ContactUs" asp-area="" asp-controller="Home" method="POST">
                            <div class="-mx-3 flex flex-wrap">
                                <div class="w-full px-3 sm:w-1/2">
                                    <div class="mb-5">
                                        <!-- <label
                                          for="fName"
                                          class="mb-3 block text-base font-medium text-[#07074D]"
                                        >
                                          First Name
                                        </label> -->
                                        <input type="text" asp-for="UserName" id="fName" placeholder="نام نام خانوادگی" class="w-full border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#252525] focus:shadow-md">
                                    </div>
                                </div>

                                <div class="w-full px-3 sm:w-1/2">
                                    <div class="mb-5">
                                        <!-- <label
                                          for="lName"
                                          class="mb-3 block text-base font-medium text-[#07074D]"
                                        >
                                          Last Name
                                        </label> -->
                                        <input type="email" asp-for="Email" id="lName" placeholder="ایمیل خود را وارد کنید" class="w-full border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#252525] focus:shadow-md">
                                    </div>
                                </div>

                                <div class="w-full px-3 sm:w-1/2">
                                    <div class="mb-5">
                                        <!-- <label
                                            for="fName"
                                            class="mb-3 block text-base font-medium text-[#07074D]"
                                          >
                                            First Name
                                          </label> -->
                                        <input type="text" asp-for="PhoneNumber" id="phoneNumber" placeholder="شماره مبایل خود را وارد کنید " class="w-full border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#252525] focus:shadow-md">
                                    </div>
                                </div>

                                <div class="w-full px-3 sm:w-1/2">
                                    <div class="mb-5">
                                        <!-- <label
                                            for="lName"
                                            class="mb-3 block text-base font-medium text-[#07074D]"
                                          >
                                            Last Name
                                          </label> -->
                                        <input type="text" asp-for="ShortDescription" id="subject" placeholder="موضوع پیام شما" class="w-full border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#252525] focus:shadow-md">
                                    </div>
                                </div>
                            </div>
                            <div class="mb-5">
                                <!-- <label
                                  for="guest"
                                  class="mb-3 block text-base font-medium text-[#07074D]"
                                >
                                  How many guest are you bringing?
                                </label> -->
                                <textarea asp-for="LongDescription" id="guest" rows="3" class="w-full appearance-none border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#252525] focus:shadow-md" placeholder="متن پیام شما"></textarea>
                            </div>

                            <div class="flex justify-end">
                                <button class="my-3 mt-4 relative hover:bg-[#252525] border-[1px] border-[#7E8285] hover:border-[#252525] transition-all duration-300 transform ease-linear focus:outline-none bg-transparent px-7 py-3 flex items-center text-[#7E8285] hover:text-[#fff]">
                                    ارسال پیام
                                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-arrow-left ms-2" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
                                    </svg>
                                </button>
                              
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="mx-auto mt-0 px-5 lg:px-0 max-w-[99%] lg:max-w-[86.5em] mb-7 border-t-2">
        <div id="map" class="w-full h-[353px] mt-14 leaflet-container leaflet-touch leaflet-retina leaflet-fade-anim leaflet-grab leaflet-touch-drag leaflet-touch-zoom" tabindex="0" style="position: relative;">
        </div>
    </section>
</main>


