@model Domain.ViewModels.SiteSide.Home.IndexPageViewModel


@{
    ViewData["Title"] = "خانه ";
}


@section Styles{
    <link rel="stylesheet" href="/ArefSet/src/assets/styles/landing.css" />
}

@section Slider{
    @*SLider*@
    <partial name="_Slider" model="Model.Sliders" />
}


<main class="mx-auto">

    @*Lastest Products*@
    <partial name="_LastestProductsLandingPage" model="Model.LastestsArefProducts" />

    @*Lastest Categories*@
    <partial name="_lastestCategories" model="Model.LatestCategoriesWithImages" />

    @*Lastest Users Comments*@
    <partial name="_LastestUsersComments" model="Model.UsersComments" />


    <section class="w-full bg-no-repeat">
        <div class="max-w-[99%] lg:max-w-[86.5em] mx-auto lg:flex overflow-hidden h-[320px] lg:h-[400px]">
            <div class="w-full md:w-full lg:w-[40vw]  text-center lg:text-start flex flex-col items-center justify-center md:flex md:flex-col md:items-center md:justify-center lg:flex lg:flex-col lg:items-start lg:justify-center">
                <p class="text-[18px]  text-center lg:text-start md:text-[30px] lg:text-[40px] items-center lg:leading-[62px] w-[167px] lg:w-auto"
                   style="font-family: yekanBakhtSemiBold">
                    در
                    <strong class="" style="font-family: yekanBakhtExtraBold">
                        اینستاگرام
                    </strong>همراه بازرگانی عارف باشید
                </p>
                <button class="w-[167px] md:w-[210px] lg:w-[333px] mt-4 bg-[#252525] text-[#fff] py-3 text-[14px] md:text-[16px] lg:text-[18px]">
                    Follow Us
                </button>
            </div>
            <div class="w-full md:w-full lg:w-[60vw] lg:flex h-full">
                <div class="w-full md:w-full lg:w-[20vw] flex items-center justify-end lg:flex lg:items-center lg:justify-center">
                    <img class="lg:w-[114px] w-[39.26px] mt-2 lg:mt-0 transform -rotate-[60deg] md:-rotate-90 lg:rotate-0 ml-14"
                         src="/ArefSet/src/assets/images/landing/Asset 1 1.png"
                         alt="" />
                </div>
                <div class="w-full md:w-full lg:w-[80vw] lg:overflow-hidden relative flex items-center justify-center lg:flex lg:items-center lg:justify-center">
                    <img class="w-[183.19px] lg:w-[532px] absolute top-0"
                         src="/ArefSet/src/assets/images/landing/phone_14_01 1.png"
                         alt="" />
                </div>
            </div>
        </div>
    </section>
</main>