@model Domain.ViewModels.SiteSide.Home.IndexPageViewModel


@{
    ViewData["Title"] = "خانه ";
}

<!-- slider lg -->
<div class="w-full bg-slate-400 h-[730px] relative">
    <div class="swiper mySwiper w-full lg:h-full" dir="rtl">
        <div class="swiper-wrapper w-full  mb-10 lg:mb-0">

            <div class="swiper-slide h-full grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 bg-white bg-no-repeat"
                 style="
                background-image: url(/ArefSet/src/assets/images/landing/Rectangle\ 9224.png);
                background-size: cover;">
                <div class="col-span-2 md:col-span-1 lg:col-span-1 mt-9 lg:mt-0 lg:h-full px-6 lg:px-16 text lg:flex lg:flex-col lg:justify-center lg:items-start">
                    <p class="text-[#7E8285] text-[20px] font-semibold leading-8 lg:text-[32px] text-right lg:font-semibold lg:leading-[49.6px]"
                       style="font-family: yekanBakhtSemiBold">
                        فرصت استثنایی
                    </p>
                    <h1 class="text-[#D92626] font-black text-right text-[40px] leading-16 lg:text-[78px] lg:leading-[120.9px] tracking-spaceTwo"
                        style="font-family: yekanBakhtBlack">
                        فروش تابستانی
                    </h1>
                    <p class="text-[#252525] text-[30px] font-semibold leading-[46.5px] lg:text-[49px] text-right lg:font-semibold lg:leading-[75.95px]"
                       style="font-family: yekanBakhtSemiBold">
                        تا 50 درصد تخفیف ویژه
                    </p>

                    <button class="my-3 mt-6 hover:bg-[#252525] border-[1px] border-[#7E8285] hover:border-[#252525] transition-all duration-300 transform ease-linear focus:outline-none bg-transparent px-7 py-3 flex items-center text-[#7E8285] hover:text-[#fff]">
                        رفتن به فروشگاه
                        <img class="ms-2"
                             src="/ArefSet/src/assets/images/landing/arrow-left.png"
                             alt="" />
                    </button>
                </div>
                <div class="col-span-2 md:col-span-1 lg:col-span-1  lg:h-full text bg-no-repeat bg-bottom lg:bg-right-bottom bg-100% lg:bg-auto"
                     style="
                  background-image: url(/ArefSet/src/assets/images/landing/Group\ 44920.png);
                "></div>
            </div>

            <div class="swiper-slide grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 bg-white bg-no-repeat"
                 style="
                background-image: url(/ArefSet/src/assets/images/landing/Rectangle\ 9224.png);
                background-size: cover;
              ">
                <div class="col-span-2 md:col-span-1 lg:col-span-1 mt-9 lg:mt-0 lg:h-full px-6 lg:px-16 text lg:flex lg:flex-col lg:justify-center lg:items-start">
                    <p class="text-[#7E8285] text-[20px] font-semibold leading-8 lg:text-[32px] text-right lg:font-semibold lg:leading-[49.6px]"
                       style="font-family: yekanBakhtSemiBold">
                        فرصت استثنایی
                    </p>
                    <h1 class="text-[#D92626] font-black text-right text-[40px] leading-16 lg:text-[78px] lg:leading-[120.9px] tracking-spaceTwo"
                        style="font-family: yekanBakhtBlack">
                        فروش تابستانی
                    </h1>
                    <p class="text-[#252525] text-[30px] font-semibold leading-[46.5px] lg:text-[49px] text-right lg:font-semibold lg:leading-[75.95px]"
                       style="font-family: yekanBakhtSemiBold">
                        تا 50 درصد تخفیف ویژه
                    </p>

                    <button class="my-3 mt-6 hover:bg-[#252525] border-[1px] border-[#7E8285] hover:border-[#252525] transition-all duration-300 transform ease-linear focus:outline-none bg-transparent px-7 py-3 flex items-center text-[#7E8285] hover:text-[#fff]">
                        رفتن به فروشگاه
                        <img class="ms-2"
                             src="/ArefSet/src/assets/images/landing/arrow-left.png"
                             alt="" />
                    </button>
                </div>
                <div class="col-span-2 md:col-span-1 lg:col-span-1 h-[500px] lg:h-full text bg-no-repeat bg-bottom lg:bg-right-bottom bg-100% lg:bg-auto"
                     style="
                  background-image: url(/ArefSet/src/assets/images/landing/Group\ 44920.png);
                "></div>
            </div>

            <div class="swiper-slide grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 bg-white bg-no-repeat"
                 style="
                background-image: url(/ArefSet/src/assets/images/landing/Rectangle\ 9224.png);
                background-size: cover;
              ">
                <div class="col-span-2 md:col-span-1 lg:col-span-1 mt-9 lg:mt-0 lg:h-full px-6 lg:px-16 text lg:flex lg:flex-col lg:justify-center lg:items-start">
                    <p class="text-[#7E8285] text-[20px] font-semibold leading-8 lg:text-[32px] text-right lg:font-semibold lg:leading-[49.6px]"
                       style="font-family: yekanBakhtSemiBold">
                        فرصت استثنایی
                    </p>
                    <h1 class="text-[#D92626] font-black text-right text-[40px] leading-16 lg:text-[78px] lg:leading-[120.9px] tracking-spaceTwo"
                        style="font-family: yekanBakhtBlack">
                        فروش تابستانی
                    </h1>
                    <p class="text-[#252525] text-[30px] font-semibold leading-[46.5px] lg:text-[49px] text-right lg:font-semibold lg:leading-[75.95px]"
                       style="font-family: yekanBakhtSemiBold">
                        تا 50 درصد تخفیف ویژه
                    </p>

                    <button class="my-3 mt-6 hover:bg-[#252525] border-[1px] border-[#7E8285] hover:border-[#252525] transition-all duration-300 transform ease-linear focus:outline-none bg-transparent px-7 py-3 flex items-center text-[#7E8285] hover:text-[#fff]">
                        رفتن به فروشگاه
                        <img class="ms-2"
                             src="/ArefSet/src/assets/images/landing/arrow-left.png"
                             alt="" />
                    </button>
                </div>
                <div class="col-span-2 md:col-span-1 lg:col-span-1 h-[500px] lg:h-full text bg-no-repeat bg-bottom lg:bg-right-bottom bg-100% lg:bg-auto"
                     style="
                  background-image: url(/ArefSet/src/assets/images/landing/Group\ 44920.png);
                "></div>
            </div>

            <div class="swiper-slide grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 bg-white bg-no-repeat"
                 style="
                background-image: url(/ArefSet/src/assets/images/landing/Rectangle\ 9224.png);
                background-size: cover;
              ">
                <div class="col-span-2 md:col-span-1 lg:col-span-1 mt-9 lg:mt-0 lg:h-full px-6 lg:px-16 text lg:flex lg:flex-col lg:justify-center lg:items-start">
                    <p class="text-[#7E8285] text-[20px] font-semibold leading-8 lg:text-[32px] text-right lg:font-semibold lg:leading-[49.6px]"
                       style="font-family: yekanBakhtSemiBold">
                        فرصت استثنایی
                    </p>
                    <h1 class="text-[#D92626] font-black text-right text-[40px] leading-16 lg:text-[78px] lg:leading-[120.9px] tracking-spaceTwo"
                        style="font-family: yekanBakhtBlack">
                        فروش تابستانی
                    </h1>
                    <p class="text-[#252525] text-[30px] font-semibold leading-[46.5px] lg:text-[49px] text-right lg:font-semibold lg:leading-[75.95px]"
                       style="font-family: yekanBakhtSemiBold">
                        تا 50 درصد تخفیف ویژه
                    </p>

                    <button class="my-3 mt-6 hover:bg-[#252525] border-[1px] border-[#7E8285] hover:border-[#252525] transition-all duration-300 transform ease-linear focus:outline-none bg-transparent px-7 py-3 flex items-center text-[#7E8285] hover:text-[#fff]">
                        رفتن به فروشگاه
                        <img class="ms-2"
                             src="/ArefSet/src/assets/images/landing/arrow-left.png"
                             alt="" />
                    </button>
                </div>
                <div class="col-span-2 md:col-span-1 lg:col-span-1 h-[500px] lg:h-full text bg-no-repeat bg-bottom lg:bg-right-bottom bg-100% lg:bg-auto"
                     style="
                  background-image: url(/ArefSet/src/assets/images/landing/Group\ 44920.png);
                "></div>
            </div>

            <div class="swiper-slide grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 bg-white bg-no-repeat"
                 style="
                background-image: url(/ArefSet/src/assets/images/landing/Rectangle\ 9224.png);
                background-size: cover;
              ">
                <div class="col-span-2 md:col-span-1 lg:col-span-1 mt-9 lg:mt-0 lg:h-full px-6 lg:px-16 text lg:flex lg:flex-col lg:justify-center lg:items-start">
                    <p class="text-[#7E8285] text-[20px] font-semibold leading-8 lg:text-[32px] text-right lg:font-semibold lg:leading-[49.6px]"
                       style="font-family: yekanBakhtSemiBold">
                        فرصت استثنایی
                    </p>
                    <h1 class="text-[#D92626] font-black text-right text-[40px] leading-16 lg:text-[78px] lg:leading-[120.9px] tracking-spaceTwo"
                        style="font-family: yekanBakhtBlack">
                        فروش تابستانی
                    </h1>
                    <p class="text-[#252525] text-[30px] font-semibold leading-[46.5px] lg:text-[49px] text-right lg:font-semibold lg:leading-[75.95px]"
                       style="font-family: yekanBakhtSemiBold">
                        تا 50 درصد تخفیف ویژه
                    </p>

                    <button class="my-3 mt-6 hover:bg-[#252525] border-[1px] border-[#7E8285] hover:border-[#252525] transition-all duration-300 transform ease-linear focus:outline-none bg-transparent px-7 py-3 flex items-center text-[#7E8285] hover:text-[#fff]">
                        رفتن به فروشگاه
                        <img class="ms-2"
                             src="/ArefSet/src/assets/images/landing/arrow-left.png"
                             alt="" />
                    </button>
                </div>
                <div class="col-span-2 md:col-span-1 lg:col-span-1 h-[500px] lg:h-full text bg-no-repeat bg-bottom lg:bg-right-bottom bg-100% lg:bg-auto"
                     style="
                  background-image: url(/ArefSet/src/assets/images/landing/Group\ 44920.png);
                "></div>
            </div>

        </div>
        <!-- <div class="swiper-button-next"></div>
              <div class="swiper-button-prev"></div> -->
        <div class="swiper-pagination !left-[50%] !-bottom-[1%] !-translate-y-[50%] !-translate-x-[50%] lg:!left-[3%] lg:!inline-block !transform lg:!-rotate-90 lg:!bottom-[10%] ml-4"></div>
    </div>
</div>

<main class="mx-auto">

    <section class="w-full my-36">
        <div class="max-w-[99%] lg:max-w-[86.5em] px-2 lg:px-0 h-[110vh] lg:h-auto mx-auto grid grid-rows-3 grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-2 lg:gap-4"
             dir="ltr">
            <div class="transition-all h-44 lg:h-auto col-span-2 md:col-span-2 lg:col-span-2 row-span-1 bg-slate-300 relative landingGridItem">
                <img class="w-full h-full object-cover"
                     src="/ArefSet/src/assets/images/landing/image 1 1.png"
                     alt="" />
                <div class="absolute top-0 left-0 right-0 bottom-0 transition-all bg-[#252525] opacity-0 flex flex-col justify-center items-center">
                    <p class="text-[#fff] text-[20px] lg:text-[24px] font-normal">مردانه</p>
                    <button class="my-3 mt-6 text-[14px] lg:text-[18px] hover:bg-[#ffff] border-[1px] border-[#fff] hover:border-[#fff] transition-all duration-300 transform ease-linear focus:outline-none bg-transparent px-4 py-2 lg:px-7 lg:py-3 flex items-center text-[#fff] hover:text-[#252525]">
                        <img class="me-3"
                             src="/ArefSet/src/assets/images/landing/arrow-left.png"
                             alt="" />
                        رفتن به فروشگاه
                    </button>
                </div>
            </div>

            <div class="transition-all relative landingGridItem col-span-2 md:col-span-2 lg:col-span-1 row-span-3 bg-slate-400">
                <img class="w-full h-full object-cover"
                     src="/ArefSet/src/assets/images/landing/Rectangle 7.png"
                     alt="" />
                <div class="absolute top-0 left-0 right-0 bottom-0 transition-all bg-[#252525] opacity-0 flex flex-col justify-center items-center">
                    <p class="text-[#fff] text-[24px] font-normal">مردانه</p>
                    <button class="my-3 mt-6 hover:bg-[#ffff] border-[1px] border-[#fff] hover:border-[#fff] transition-all duration-300 transform ease-linear focus:outline-none bg-transparent px-7 py-3 flex items-center text-[#fff] hover:text-[#252525]">
                        <img class="me-3"
                             src="/ArefSet/src/assets/images/landing/arrow-left.png"
                             alt="" />
                        رفتن به فروشگاه
                    </button>
                </div>
            </div>

            <div class="transition-all h-44 lg:h-auto relative landingGridItem col-span-1 md:col-span-1 lg:col-span-1 row-span-1 lg:row-span-2 bg-slate-500">
                <img class="w-full h-full object-cover"
                     src="/ArefSet/src/assets/images/landing/banner-6 1.png"
                     alt="" />
                <div class="absolute top-0 left-0 right-0 bottom-0 transition-all bg-[#252525] opacity-0 flex flex-col justify-center items-center">
                    <p class="text-[#fff] text-[20px] lg:text-[24px] font-normal">مردانه</p>
                    <button class="my-3 mt-6 text-[14px] lg:text-[18px] hover:bg-[#ffff] border-[1px] border-[#fff] hover:border-[#fff] transition-all duration-300 transform ease-linear focus:outline-none bg-transparent px-4 py-2 lg:px-7 lg:py-3 flex items-center text-[#fff] hover:text-[#252525]">
                        <img class="me-3"
                             src="/ArefSet/src/assets/images/landing/arrow-left.png"
                             alt="" />
                        رفتن به فروشگاه
                    </button>
                </div>
            </div>

            <div class="transition-all h-44 lg:h-auto relative landingGridItem col-span-1 md:col-span-1 lg:col-span-1 row-span-1 lg:row-span-2 bg-slate-600">
                <img class="w-full h-full object-cover"
                     src="/ArefSet/src/assets/images/landing/banner-5 1.png"
                     alt="" />
                <div class="absolute top-0 left-0 right-0 bottom-0 transition-all bg-[#252525] opacity-0 flex flex-col justify-center items-center">
                    <p class="text-[#fff] text-[20px] lg:text-[24px] font-normal">مردانه</p>
                    <button class="my-3 mt-6 text-[14px] lg:text-[18px] hover:bg-[#ffff] border-[1px] border-[#fff] hover:border-[#fff] transition-all duration-300 transform ease-linear focus:outline-none bg-transparent px-4 py-2 lg:px-7 lg:py-3 flex items-center text-[#fff] hover:text-[#252525]">
                        <img class="me-3"
                             src="/ArefSet/src/assets/images/landing/arrow-left.png"
                             alt="" />
                        رفتن به فروشگاه
                    </button>
                </div>
            </div>

        </div>


    </section>

    <section class="w-full my-20 bg-no-repeat"
             style="
          background-image: url(/ArefSet/src/assets/images/landing/Layer\ 4.svg);
          background-position: right center;
          background-size: 40%;
        ">
        <div class="max-w-[99%] lg:max-w-[86.5em] min-h-[400px] mx-auto grid grid-cols-1 md:grid-cols-1 lg:grid-cols-2">
            <div class="h-[200px] lg:h-auto relative col-span-2 md:col-span-2 lg:col-span-1 grid grid-cols-2 lg:gap-5">
                <div class="rounded-full px-3 lg:px-0 mb-2 lg:mb-0 absolute right-[3%] bottom-[0%] lg:right-[13%] lg:bottom-[32%] w-[104px] h-[104px] lg:w-[136px] lg:h-[136px]">
                    <img class="rounded-full w-full h-full object-cover"
                         src="/ArefSet/src/assets/images/landing/84 1.png"
                         alt="" />
                </div>

                <div class="rounded-full absolute left-[15%] bottom-[10%] lg:left-[20%] lg:bottom-[37%] w-[59px] h-[59px] lg:w-[104px] lg:h-[104px]">
                    <img class="rounded-full w-full h-full object-cover"
                         src="/ArefSet/src/assets/images/landing/image 3.png"
                         alt="" />
                </div>

                <div class="rounded-full absolute right-[25%] top-[10%] lg:right-[40%] lg:top-[8%] w-[55px] h-[55px] lg:w-[72px] lg:h-[72px]">
                    <img class="rounded-full w-full h-full object-cover"
                         src="/ArefSet/src/assets/images/landing/image 2.png"
                         alt="" />
                </div>

                <div class="rounded-full absolute left-[5%] top-[5%] lg:left-[5%] lg:top-[4%] w-[44px] h-[44px] lg:w-[58px] lg:h-[58px]">
                    <img class="rounded-full w-full h-full object-cover"
                         src="/ArefSet/src/assets/images/landing/portrait-handsome-smiling-stylish-young-man 1.png"
                         alt="" />
                </div>
            </div>

            <div class="col-span-2 md:col-span-2 lg:col-span-1">
                <div class="swiper swiper3">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide relative px-7 md:px-10 lg:px-12 flex flex-col justify-center items-start">
                            <img class="absolute top-0 left-0"
                                 src="/ArefSet/src/assets/images/landing/Group 7296.png"
                                 alt="" />
                            <img class="absolute bottom-0 right-5 md:right-8 lg:right-11"
                                 src="/ArefSet/src/assets/images/landing/Group 7492.png"
                                 alt="" />

                            <p class="">
                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و
                                با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه
                                و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی
                                تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای
                                کاربردی می باشد،
                            </p>
                            <p class="text-[#D92626] text-[px] mt-3">مسعود آقایی</p>
                        </div>

                        <div class="swiper-slide relative px-7 md:px-10 lg:px-12 flex flex-col justify-center items-start">
                            <img class="absolute top-0 left-0"
                                 src="/ArefSet/src/assets/images/landing/Group 7296.png"
                                 alt="" />
                            <img class="absolute bottom-0 right-5 md:right-8 lg:right-11"
                                 src="/ArefSet/src/assets/images/landing/Group 7492.png"
                                 alt="" />

                            <p class="">
                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و
                                با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه
                                و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی
                                تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای
                                کاربردی می باشد،
                            </p>
                            <p class="text-[#D92626] text-[px] mt-3">مسعود آقایی</p>
                        </div>

                        <div class="swiper-slide relative px-7 md:px-10 lg:px-12 flex flex-col justify-center items-start">
                            <img class="absolute top-0 left-0"
                                 src="/ArefSet/src/assets/images/landing/Group 7296.png"
                                 alt="" />
                            <img class="absolute bottom-0 right-5 md:right-8 lg:right-11"
                                 src="/ArefSet/src/assets/images/landing/Group 7492.png"
                                 alt="" />

                            <p class="">
                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و
                                با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه
                                و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی
                                تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای
                                کاربردی می باشد،
                            </p>
                            <p class="text-[#D92626] text-[px] mt-3">مسعود آقایی</p>
                        </div>

                        <div class="swiper-slide relative px-7 md:px-10 lg:px-12 flex flex-col justify-center items-start">
                            <img class="absolute top-0 left-0"
                                 src="/ArefSet/src/assets/images/landing/Group 7296.png"
                                 alt="" />
                            <img class="absolute bottom-0 right-5 md:right-8 lg:right-11"
                                 src="/ArefSet/src/assets/images/landing/Group 7492.png"
                                 alt="" />

                            <p class="">
                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و
                                با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه
                                و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی
                                تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای
                                کاربردی می باشد،
                            </p>
                            <p class="text-[#D92626] text-[px] mt-3">مسعود آقایی</p>
                        </div>
                    </div>
                    <!-- Add Pagination -->
                    <div class="swiper-pagination swiper-pagination3"></div>
                </div>
            </div>
        </div>
    </section>


    <section class="w-full bg-no-repeat">
        <div class="max-w-[99%] lg:max-w-[86.5em] mx-auto lg:flex overflow-hidden h-[320px] lg:h-[400px]">
            <div class="w-full md:w-full lg:w-[40vw] flex flex-col items-center justify-center md:flex md:flex-col md:items-center md:justify-center lg:flex lg:flex-col lg:items-start lg:justify-center">
                <p class="text-[20px] md:text-[30px] lg:text-[40px] items-center lg:leading-[62px] w-[167px] lg:w-auto"
                   style="font-family: yekanBakhtSemiBold">
                    در
                    <strong style="font-family: yekanBakhtExtraBold">
                        اینستاگرام
                    </strong>همراه بازرگانی عارف باشید
                </p>
                <button class="w-[167px] md:w-[210px] lg:w-[333px] mt-4 bg-[#252525] text-[#fff] py-3 text-[14px] md:text-[16px] lg:text-[18px]">
                    Follow Us
                </button>
            </div>
            <div class="w-full md:w-full lg:w-[60vw] lg:flex h-full">
                <div class="w-full md:w-full lg:w-[20vw] flex items-center justify-end lg:flex lg:items-center lg:justify-center">
                    <img class="lg:w-[114px] w-[39.26px] transform -rotate-[60deg] md:-rotate-90 lg:rotate-0 ml-14"
                         src="/ArefSet/src/assets/images/landing/Asset 1 1.png"
                         alt="" />
                </div>
                <div class="w-full md:w-full lg:w-[80vw] lg:overflow-hidden relative flex items-center justify-center lg:flex lg:items-center lg:justify-center">
                    <img class="w-[183.19px] lg:w-[532px] absolute top-0"
                         src="/ArefSet/src/assets/images/landing/phone_14_01 1.png"
                         alt="" />
                </div>
            </div>
        </div>
    </section>
</main>