@{
    ViewData["Title"] = "خانه ";
}


<section class="bg-home rtl-personal-hero bg-light d-flex align-items-center" style="background: url('/Landrick/images/shop/bg1.jpg') center center " id="home">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7 col-md-7 order-1 order-md-2">
                <div class="title-heading mt-4 ms-lg-5">

                    <h1 class="heading mb-3"> <span class="text-primary"> فروشگاه کالا  </span> یک فروشگاه همه منظورست ! </h1>
                    <p class="para-desc text-muted">بزرگترین فروشگاه اینترنتی ایران از دید عموم وب سایت  فروشگاه کالا است که تقریبا در همه موارد مطرح شده در بالا تا حد ممکن خوب کار کرده است. کالا شاپ نزدیک به 10 سال است که فعالیت خود را آغاز کرده است و در ابتدای کار مانند همه فروشگاه های اینترنتی بسیار ساده و با محصولاتی با تنوع پایین فعالیت خود را آغاز کرد.</p>
                    <div class="mt-4 pt-2">
                        <a href="/Products" class="btn btn-primary m-1"> فروشگاه  <i class="uil uil-angle-left-b"></i></a>
                        <a href="/Blog/Index" class="btn btn-outline-primary rounded"><i class="uil uil-store"></i> وبلاگ فروشگاه </a>
                        <a href="/Blog/Video" data-type="youtube" data-id="yba7hPeTSjk" class="btn btn-icon btn-pills btn-primary m-1 lightbox"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-video icons"><polygon points="23 7 16 12 23 17 23 7"></polygon><rect x="1" y="5" width="15" height="14" rx="2" ry="2"></rect></svg></a><span class="fw-bold text-uppercase small align-middle ms-1">  ویدیوهای برتر  </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




@*<section class="bg-half-170 d-table w-100">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7 col-md-7 order-1 order-md-2">
                    <div class="title-heading mt-4 ms-lg-5">

                        <h1 class="heading mb-3">ما  استارت آپ خلاق هستیم <span class="text-primary"> فروشگاه پارسا  </span> یک فروشگاه همه منظورست ! </h1>
                        <p class="para-desc text-muted">بزرگترین فروشگاه اینترنتی ایران از دید عموم وب سایت  فروشگاه پارسا است که تقریبا در همه موارد مطرح شده در بالا تا حد ممکن خوب کار کرده است. پارسا شاپ نزدیک به 10 سال است که فعالیت خود را آغاز کرده است و در ابتدای کار مانند همه فروشگاه های اینترنتی بسیار ساده و با محصولاتی با تنوع پایین فعالیت خود را آغاز کرد.</p>
                        <div class="mt-4 pt-2">
                            <a href="/Products" class="btn btn-primary m-1"> فروشگاه  <i class="uil uil-angle-left-b"></i></a>
                            <a href="/Blog/Index" class="btn btn-outline-primary rounded"><i class="uil uil-store"></i> وبلاگ فروشگاه </a>
                            <a href="/Blog/Video" data-type="youtube" data-id="yba7hPeTSjk" class="btn btn-icon btn-pills btn-primary m-1 lightbox"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-video icons"><polygon points="23 7 16 12 23 17 23 7"></polygon><rect x="1" y="5" width="15" height="14" rx="2" ry="2"></rect></svg></a><span class="fw-bold text-uppercase small align-middle ms-1">  ویدیوهای برتر  </span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-5 col-md-5 order-2 order-md-1 mt-4 pt-2 mt-sm-0 pt-sm-0">
                    <img src="/Landrick/images/illustrator/Creativity-bro.svg" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </section>*@

<div class="container mt-100 mt-60">
    <div class="row">
        <div class="col-12">
            <h5 class="mb-0"> دسته بندیهای برتر</h5>
        </div><!--end col-->
    </div><!--end row-->
    <div class="row">
        <div class="col-lg-3 col-md-4 col-6 mt-4 pt-2">
            <div class="card explore-feature border-0 rounded text-center bg-white">
                <div class="card-body">
                    <img src="/Landrick/images/shop/categories/fashion.jpg" class="avatar avatar-small rounded-circle shadow-md" alt="">
                    <div class="content mt-3">
                        <h6 class="mb-0"><a href="/Products?Categroyid=2" class="title text-dark">گجت پوشیدنی  </a></h6>
                    </div>
                </div>
            </div>
        </div><!--end col-->

        <div class="col-lg-3 col-md-4 col-6 mt-4 pt-2">
            <div class="card explore-feature border-0 rounded text-center bg-white">
                <div class="card-body">
                    <img src="/Landrick/images/shop/categories/music.jpg" class="avatar avatar-small rounded-circle shadow-md" alt="">
                    <div class="content mt-3">
                        <h6 class="mb-0"><a href="/Products?Categroyid=3" class="title text-dark">هدفون </a></h6>
                    </div>
                </div>
            </div>
        </div><!--end col-->


        <div class="col-lg-3 col-md-4 col-6 mt-4 pt-2">
            <div class="card explore-feature border-0 rounded text-center bg-white">
                <div class="card-body">
                    <img src="/Landrick/images/shop/categories/electronics.jpg" class="avatar avatar-small rounded-circle shadow-md" alt="">
                    <div class="content mt-3">
                        <h6 class="mb-0"><a href="/Products?Categroyid=40" class="title text-dark">سرگرمی </a></h6>
                    </div>
                </div>
            </div>
        </div><!--end col-->
        <div class="col-lg-3 col-md-4 col-6 mt-4 pt-2">
            <div class="card explore-feature border-0 rounded text-center bg-white">
                <div class="card-body">
                    <img src="/Landrick/images/shop/categories/mobile.jpg" class="avatar avatar-small rounded-circle shadow-md" alt="">
                    <div class="content mt-3">
                        <h6 class="mb-0"><a href="/Products?Categroyid=1" class="title text-dark">موبایل</a></h6>
                    </div>
                </div>
            </div>
        </div><!--end col-->
    </div><!--end row-->
</div>



<section class="section " style="padding-top: 0px; padding-bottom:50px; ">
    <cache expires-after="@TimeSpan.FromHours(1)">
        @await Component.InvokeAsync("LastestProductsComponent")
    </cache>

</section>


<section class="section " style="padding-top: 0px; padding-bottom:50px; ">
    <cache expires-after="@TimeSpan.FromHours(1)">
        @await Component.InvokeAsync("LastestOfferProductsComponent")
    </cache>

</section>

<!--<div class="container-fluid mt-100 mt-60">
    <div class="rounded-md shadow-md py-5 position-relative" style="background: url('/Landrick/images/shop/cta.jpg') fixed no-repeat;background-size:cover;">
        <div class="bg-overlay rounded-md"></div>
        <div class="container my-md-5">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="section-title">
                        <h4 class="title text-white title-dark mb-4">فروشگاه بزرگ پارسا</h4>
                        <p class="text-white-50 para-desc mb-0 mx-auto">به هرچیزی که احتیاج داشته باشی اینجا پیداش میکنی . هم ویدیو هم مقاله هم محصول . دیگه چی میخوای ؟ :) </p>
                        <div class="subcribe-form mt-4 pt-2">
                            <a href="/Products" class="btn btn-primary"> فروشگاه  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right fea icon-sm"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg></a>

                        </div>
                    </div>
                </div>-->
<!--end col-->
<!--</div>--><!--end row-->
<!--</div>    </div>--><!--end slide-->
<!--</div>-->


<div class="container-fluid mt-100 mt-60">
    <div class="rounded py-5" style="background: url('/Landrick/images/shop/cta.jpg') fixed;">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <h2 class="fw-bold mb-4">فروشگاه بزرگ پارسا</h2>
                        <p class="para-desc para-white text-muted mb-0"> به هرچیزی که احتیاج داشته باشی اینجا پیداش میکنی . هم ویدیو هم مقاله هم محصول . دیگه چی میخوای ؟ :)</p>
                        <div class="mt-4">
                            <a href="/Products" class="btn btn-primary"> فروشگاه </a>
                        </div>
                    </div>
                </div><!--end col-->
            </div><!--end row-->
        </div><!--end container-->
    </div>
</div>


<section class="section " style="padding-top: 0px;">
    <cache expires-after="@TimeSpan.FromDays(1)">
        @await Component.InvokeAsync("LastestBlogsComponent")
    </cache>



    <!--<div class="container">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <div class="section-title mb-4 pb-2">
                    <h4 class="title mb-4">همه چیز را در مورد خود ببینید <span class="text-primary"> فروشگاه پارسا   </span></h4>
                    <p class="text-muted para-desc mx-auto mb-0">شروع به کار با <span class="text-primary fw-bold"> فروشگاه پارسا  </span> که می تواند هر آنچه را که شما برای ایجاد آگاهی ، ایجاد ترافیک ، اتصال به آن نیاز دارید فراهم کند.</p>
                </div>
            </div>-->
    <!--end col-->
    <!--</div>--><!--end row-->
    <!--</div>--><!--end container-->
    <!--<div class="container mt-100 mt-60">
        <div class="row align-items-center">
            <div class="col-lg-7 col-md-6">
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item rounded shadow">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button border-0 bg-light collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                فروشگاه چیست ؟
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse border-0 collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample" style="">
                            <div class="accordion-body text-muted bg-white">
                                تعداد زیادی فروشگاه اینترنتی وجود دارد ولی هیچ کدوم کاری که ما انجام میدیم رو انجام نمیدن
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item rounded shadow mt-2">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button border-0 bg-light collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                آیا برای استفاده از فروشگاه پارسا به طراح نیاز دارم؟
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse border-0 collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample" style="">
                            <div class="accordion-body text-muted bg-white">
                                تعداد زیادی از معابر لورم اپیسون در دسترس است ، اما اکثر آنها به نوعی دچار تغییر شده اند.
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item rounded shadow mt-2">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button border-0 bg-light collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                برای شروع فروش چه کاری باید انجام دهم؟
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse border-0 collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample" style="">
                            <div class="accordion-body text-muted bg-white">
                                تعداد زیادی از معابر لورم اپیسون در دسترس است ، اما اکثر آنها به نوعی دچار تغییر شده اند.
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item rounded shadow mt-2">
                        <h2 class="accordion-header" id="headingFour">
                            <button class="accordion-button border-0 bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                                با دریافت سفارش چه اتفاقی می افتد؟
                            </button>
                        </h2>
                        <div id="collapseFour" class="accordion-collapse border-0 collapse show" aria-labelledby="headingFour" data-bs-parent="#accordionExample" style="">
                            <div class="accordion-body text-muted bg-white">
                                تعداد زیادی از معابر لورم اپیسون در دسترس است ، اما اکثر آنها به نوعی دچار تغییر شده اند.
                            </div>
                        </div>
                    </div>
                </div>
            </div>-->
    <!--end col-->
    <!--<div class="col-lg-5 col-md-6 mt-4 mt-sm-0 pt-2 pt-sm-0">
        <img src="/Landrick//Landrick/images/illustrator/faq.svg" alt="">
    </div>-->
    <!--end col-->
    <!--</div>--><!--end row-->
    <!--</div>--><!--end container-->





    <cache expires-after="@TimeSpan.FromDays(1)">
        @await Component.InvokeAsync("LastestVideoComponent")
    </cache>
</section>