@model Domain.ViewModels.SiteSide.Home.IndexPageViewModel


@{
    ViewData["Title"] = "خانه ";
}

<!-- slider lg -->
<div class="w-full bg-slate-400 h-[730px] relative">
    <div class="swiper mySwiper w-full lg:h-full" dir="rtl">
        <div class="swiper-wrapper w-full  mb-10 lg:mb-0">

            <div class="swiper-slide h-full grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 bg-white bg-no-repeat"
                 style="
                background-image: url(/ArefSet/src/assets/images/landing/Rectangle\ 9224.png);
                background-size: cover;">
                <div class="col-span-2 md:col-span-1 lg:col-span-1 mt-9 lg:mt-0 lg:h-full px-6 lg:px-16 text lg:flex lg:flex-col lg:justify-center lg:items-start">
                    <p class="text-[#7E8285] text-[20px] font-semibold leading-8 lg:text-[32px] text-right lg:font-semibold lg:leading-[49.6px]"
                       style="font-family: yekanBakhtSemiBold">
                        فرصت استثنایی
                    </p>
                    <h1 class="text-[#D92626] font-black text-right text-[40px] leading-16 lg:text-[78px] lg:leading-[120.9px] tracking-spaceTwo"
                        style="font-family: yekanBakhtBlack">
                        فروش تابستانی
                    </h1>
                    <p class="text-[#252525] text-[30px] font-semibold leading-[46.5px] lg:text-[49px] text-right lg:font-semibold lg:leading-[75.95px]"
                       style="font-family: yekanBakhtSemiBold">
                        تا 50 درصد تخفیف ویژه
                    </p>

                    <button class="my-3 mt-6 hover:bg-[#252525] border-[1px] border-[#7E8285] hover:border-[#252525] transition-all duration-300 transform ease-linear focus:outline-none bg-transparent px-7 py-3 flex items-center text-[#7E8285] hover:text-[#fff]">
                        رفتن به فروشگاه
                        <img class="ms-2"
                             src="/ArefSet/src/assets/images/landing/arrow-left.png"
                             alt="" />
                    </button>
                </div>
                <div class="col-span-2 md:col-span-1 lg:col-span-1  lg:h-full text bg-no-repeat bg-bottom lg:bg-right-bottom bg-100% lg:bg-auto"
                     style="
                  background-image: url(/ArefSet/src/assets/images/landing/Group\ 44920.png);
                "></div>
            </div>

            <div class="swiper-slide grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 bg-white bg-no-repeat"
                 style="
                background-image: url(/ArefSet/src/assets/images/landing/Rectangle\ 9224.png);
                background-size: cover;
              ">
                <div class="col-span-2 md:col-span-1 lg:col-span-1 mt-9 lg:mt-0 lg:h-full px-6 lg:px-16 text lg:flex lg:flex-col lg:justify-center lg:items-start">
                    <p class="text-[#7E8285] text-[20px] font-semibold leading-8 lg:text-[32px] text-right lg:font-semibold lg:leading-[49.6px]"
                       style="font-family: yekanBakhtSemiBold">
                        فرصت استثنایی
                    </p>
                    <h1 class="text-[#D92626] font-black text-right text-[40px] leading-16 lg:text-[78px] lg:leading-[120.9px] tracking-spaceTwo"
                        style="font-family: yekanBakhtBlack">
                        فروش تابستانی
                    </h1>
                    <p class="text-[#252525] text-[30px] font-semibold leading-[46.5px] lg:text-[49px] text-right lg:font-semibold lg:leading-[75.95px]"
                       style="font-family: yekanBakhtSemiBold">
                        تا 50 درصد تخفیف ویژه
                    </p>

                    <button class="my-3 mt-6 hover:bg-[#252525] border-[1px] border-[#7E8285] hover:border-[#252525] transition-all duration-300 transform ease-linear focus:outline-none bg-transparent px-7 py-3 flex items-center text-[#7E8285] hover:text-[#fff]">
                        رفتن به فروشگاه
                        <img class="ms-2"
                             src="/ArefSet/src/assets/images/landing/arrow-left.png"
                             alt="" />
                    </button>
                </div>
                <div class="col-span-2 md:col-span-1 lg:col-span-1 h-[500px] lg:h-full text bg-no-repeat bg-bottom lg:bg-right-bottom bg-100% lg:bg-auto"
                     style="
                  background-image: url(/ArefSet/src/assets/images/landing/Group\ 44920.png);
                "></div>
            </div>

            <div class="swiper-slide grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 bg-white bg-no-repeat"
                 style="
                background-image: url(/ArefSet/src/assets/images/landing/Rectangle\ 9224.png);
                background-size: cover;
              ">
                <div class="col-span-2 md:col-span-1 lg:col-span-1 mt-9 lg:mt-0 lg:h-full px-6 lg:px-16 text lg:flex lg:flex-col lg:justify-center lg:items-start">
                    <p class="text-[#7E8285] text-[20px] font-semibold leading-8 lg:text-[32px] text-right lg:font-semibold lg:leading-[49.6px]"
                       style="font-family: yekanBakhtSemiBold">
                        فرصت استثنایی
                    </p>
                    <h1 class="text-[#D92626] font-black text-right text-[40px] leading-16 lg:text-[78px] lg:leading-[120.9px] tracking-spaceTwo"
                        style="font-family: yekanBakhtBlack">
                        فروش تابستانی
                    </h1>
                    <p class="text-[#252525] text-[30px] font-semibold leading-[46.5px] lg:text-[49px] text-right lg:font-semibold lg:leading-[75.95px]"
                       style="font-family: yekanBakhtSemiBold">
                        تا 50 درصد تخفیف ویژه
                    </p>

                    <button class="my-3 mt-6 hover:bg-[#252525] border-[1px] border-[#7E8285] hover:border-[#252525] transition-all duration-300 transform ease-linear focus:outline-none bg-transparent px-7 py-3 flex items-center text-[#7E8285] hover:text-[#fff]">
                        رفتن به فروشگاه
                        <img class="ms-2"
                             src="/ArefSet/src/assets/images/landing/arrow-left.png"
                             alt="" />
                    </button>
                </div>
                <div class="col-span-2 md:col-span-1 lg:col-span-1 h-[500px] lg:h-full text bg-no-repeat bg-bottom lg:bg-right-bottom bg-100% lg:bg-auto"
                     style="
                  background-image: url(/ArefSet/src/assets/images/landing/Group\ 44920.png);
                "></div>
            </div>

            <div class="swiper-slide grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 bg-white bg-no-repeat"
                 style="
                background-image: url(/ArefSet/src/assets/images/landing/Rectangle\ 9224.png);
                background-size: cover;
              ">
                <div class="col-span-2 md:col-span-1 lg:col-span-1 mt-9 lg:mt-0 lg:h-full px-6 lg:px-16 text lg:flex lg:flex-col lg:justify-center lg:items-start">
                    <p class="text-[#7E8285] text-[20px] font-semibold leading-8 lg:text-[32px] text-right lg:font-semibold lg:leading-[49.6px]"
                       style="font-family: yekanBakhtSemiBold">
                        فرصت استثنایی
                    </p>
                    <h1 class="text-[#D92626] font-black text-right text-[40px] leading-16 lg:text-[78px] lg:leading-[120.9px] tracking-spaceTwo"
                        style="font-family: yekanBakhtBlack">
                        فروش تابستانی
                    </h1>
                    <p class="text-[#252525] text-[30px] font-semibold leading-[46.5px] lg:text-[49px] text-right lg:font-semibold lg:leading-[75.95px]"
                       style="font-family: yekanBakhtSemiBold">
                        تا 50 درصد تخفیف ویژه
                    </p>

                    <button class="my-3 mt-6 hover:bg-[#252525] border-[1px] border-[#7E8285] hover:border-[#252525] transition-all duration-300 transform ease-linear focus:outline-none bg-transparent px-7 py-3 flex items-center text-[#7E8285] hover:text-[#fff]">
                        رفتن به فروشگاه
                        <img class="ms-2"
                             src="/ArefSet/src/assets/images/landing/arrow-left.png"
                             alt="" />
                    </button>
                </div>
                <div class="col-span-2 md:col-span-1 lg:col-span-1 h-[500px] lg:h-full text bg-no-repeat bg-bottom lg:bg-right-bottom bg-100% lg:bg-auto"
                     style="
                  background-image: url(/ArefSet/src/assets/images/landing/Group\ 44920.png);
                "></div>
            </div>

            <div class="swiper-slide grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 bg-white bg-no-repeat"
                 style="
                background-image: url(/ArefSet/src/assets/images/landing/Rectangle\ 9224.png);
                background-size: cover;
              ">
                <div class="col-span-2 md:col-span-1 lg:col-span-1 mt-9 lg:mt-0 lg:h-full px-6 lg:px-16 text lg:flex lg:flex-col lg:justify-center lg:items-start">
                    <p class="text-[#7E8285] text-[20px] font-semibold leading-8 lg:text-[32px] text-right lg:font-semibold lg:leading-[49.6px]"
                       style="font-family: yekanBakhtSemiBold">
                        فرصت استثنایی
                    </p>
                    <h1 class="text-[#D92626] font-black text-right text-[40px] leading-16 lg:text-[78px] lg:leading-[120.9px] tracking-spaceTwo"
                        style="font-family: yekanBakhtBlack">
                        فروش تابستانی
                    </h1>
                    <p class="text-[#252525] text-[30px] font-semibold leading-[46.5px] lg:text-[49px] text-right lg:font-semibold lg:leading-[75.95px]"
                       style="font-family: yekanBakhtSemiBold">
                        تا 50 درصد تخفیف ویژه
                    </p>

                    <button class="my-3 mt-6 hover:bg-[#252525] border-[1px] border-[#7E8285] hover:border-[#252525] transition-all duration-300 transform ease-linear focus:outline-none bg-transparent px-7 py-3 flex items-center text-[#7E8285] hover:text-[#fff]">
                        رفتن به فروشگاه
                        <img class="ms-2"
                             src="/ArefSet/src/assets/images/landing/arrow-left.png"
                             alt="" />
                    </button>
                </div>
                <div class="col-span-2 md:col-span-1 lg:col-span-1 h-[500px] lg:h-full text bg-no-repeat bg-bottom lg:bg-right-bottom bg-100% lg:bg-auto"
                     style="
                  background-image: url(/ArefSet/src/assets/images/landing/Group\ 44920.png);
                "></div>
            </div>

        </div>
        <!-- <div class="swiper-button-next"></div>
              <div class="swiper-button-prev"></div> -->
        <div class="swiper-pagination !left-[50%] !-bottom-[1%] !-translate-y-[50%] !-translate-x-[50%] lg:!left-[3%] lg:!inline-block !transform lg:!-rotate-90 lg:!bottom-[10%] ml-4"></div>
    </div>
</div>

<main class="mx-auto">

    @*Lastest Products*@
    <partial name="_LastestProductsLandingPage" model="Model.LastestsArefProducts" />

    @*Lastest Categories*@
    <partial name="_lastestCategories" model="Model.LatestCategoriesWithImages" />

    @*Lastest Users Comments*@
    <partial name="_LastestUsersComments" model="Model.UsersComments" />


    <section class="w-full bg-no-repeat">
        <div class="max-w-[99%] lg:max-w-[86.5em] mx-auto lg:flex overflow-hidden h-[320px] lg:h-[400px]">
            <div class="w-full md:w-full lg:w-[40vw] flex flex-col items-center justify-center md:flex md:flex-col md:items-center md:justify-center lg:flex lg:flex-col lg:items-start lg:justify-center">
                <p class="text-[20px] md:text-[30px] lg:text-[40px] items-center lg:leading-[62px] w-[167px] lg:w-auto"
                   style="font-family: yekanBakhtSemiBold">
                    در
                    <strong style="font-family: yekanBakhtExtraBold">
                        اینستاگرام
                    </strong>همراه بازرگانی عارف باشید
                </p>
                <button class="w-[167px] md:w-[210px] lg:w-[333px] mt-4 bg-[#252525] text-[#fff] py-3 text-[14px] md:text-[16px] lg:text-[18px]">
                    Follow Us
                </button>
            </div>
            <div class="w-full md:w-full lg:w-[60vw] lg:flex h-full">
                <div class="w-full md:w-full lg:w-[20vw] flex items-center justify-end lg:flex lg:items-center lg:justify-center">
                    <img class="lg:w-[114px] w-[39.26px] transform -rotate-[60deg] md:-rotate-90 lg:rotate-0 ml-14"
                         src="/ArefSet/src/assets/images/landing/Asset 1 1.png"
                         alt="" />
                </div>
                <div class="w-full md:w-full lg:w-[80vw] lg:overflow-hidden relative flex items-center justify-center lg:flex lg:items-center lg:justify-center">
                    <img class="w-[183.19px] lg:w-[532px] absolute top-0"
                         src="/ArefSet/src/assets/images/landing/phone_14_01 1.png"
                         alt="" />
                </div>
            </div>
        </div>
    </section>
</main>