@{
    ViewData["Title"] = "نتیجه ی  پرداخت ";
}
 
<section class="bg-half bg-light d-table w-100">
    <div class="container"> 
        <div class="row justify-content-center">
            <div class="col-lg-12 text-center">
                <div class="page-next-level">
                    <h4 class="title">   نتیجه ی  پرداخت  </h4>
                    <div class="page-next">
                        <nav aria-label="breadcrumb" class="d-inline-block">
                            <ul class="breadcrumb bg-white rounded shadow mb-0">
                                <li class="breadcrumb-item"><a href="/">فروشگاه کالا </a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div> <!--end container-->
</section>

<div class="position-relative">
    <div class="shape overflow-hidden text-white">
        <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
        </svg>
    </div>
</div>

<section class="section">

    @if (ViewBag.IsSuccess == true)
    {
        <div class="p-4">
            <div class="alert alert-success mb-0" role="alert">
                <h4 class="alert-heading">پرداخت با موفقیت انجام شد </h4>
                <p>  کد پیگیری : @ViewBag.refId</p>
            </div>
        </div>
    }
    else
    {
        <div class="p-4">
            <div class="alert alert-danger mb-0" role="alert">
                <h4 class="alert-heading">پرداخت ناموفق </h4>
                <p>  متاسفانه پرداخت ناموفق بوده است </p>
            </div>
        </div>
    }
</section>

