@model List<Domain.Models.Product.Product>


@foreach (var item in Model)
{

    <li class="d-flex mt-4 align-items-center">
        <a href="/Products/SinglePageProducts/@item.ProductID">
            <img src="/Images/Product/thumb/@item.ProductImageName" class="img-fluid avatar avatar-small rounded shadow" style="height:auto;" alt="">
        </a>
        <div class="flex-1 content ms-3">
            <a href="/Products/SinglePageProducts/@item.ProductID" class="text-dark h6">@item.ProductTitle  </a>
            <h6 class="text-muted small fst-italic mb-0 mt-1">@item.Price.ToString("#,0") تومان </h6>
        </div>
    </li>

}