@model IEnumerable<Domain.Models.Blog.Video>
@using Application.Convertors

<div class="container mt-100 mt-60">
    <div class="row">
        <div class="col-12 mb-4">
            <h5 class="mb-0">ویدیوی های برتر جدید    </h5>
        </div><!--end col-->
    </div><!--end row-->

    <div class="row">
        @foreach (var item in Model)
        {

<div class="col-lg-3 col-md-6 mb-4 pb-2">
    <div class="card blog rounded border-0 shadow overflow-hidden" style="width:261px;height:360px;">
        <div class="position-relative">
            <img src="/Images/Blog/thumb/@item.VideoImageName" style="width:261px;height:200px;" class="card-img-top" alt="...">
            <div class="overlay rounded-top bg-dark"></div>

        </div>
        <div class="card-body content">
            <h5><a href="/Blog/SingleVideoPage/@item.VideoId" class="card-title title text-dark">@item.VideoTitle</a></h5>
            <h6 class="text-muted small fst-italic mb-0 mt-1">@item.ShortDescription  </h6>
            <div class="post-meta d-flex justify-content-between mt-3">
                <a href="/Blog/SingleVideoPage/@item.VideoId" class="text-muted readmore">ادامه مطلب  <i class="uil uil-angle-left-b align-middle"></i></a>
            </div>
        </div>
        <div class="author">
            <small class="text-light user d-block"><i class="uil uil-user"></i>  @item.Users.UserName</small>
            <small class="text-light date"><i class="uil uil-calendar-alt"></i>  @item.CreateDate.ToShamsi()</small>
        </div>
    </div>
</div> <!--end col-->}

    </div><!--end row-->
</div>